### Oitavas Sulamericana

In [1]:
import cartolafc
import pandas as pd
from difflib import get_close_matches
import json

pd.set_option('display.max_columns', 50)            # permite a visualizaÃ§Ã£o de 50 colunas do dataframe
pd.options.display.float_format = '{:.2f}'.format   # pandas: para todos os nÃºmeros aparecerem com duas casas decimais

# Cria uma instÃ¢ncia da API
api = cartolafc.Api(attempts=5)

2025-07-21 12:33:21,796 - numexpr.utils - INFO - NumExpr defaulting to 8 threads.

### DicionÃ¡rio com os IDs e Nomes dos times.

In [2]:
# DicionÃ¡rio com ID -> Nome do time (gerado anteriormente)
nomes_por_id = {
   3914981: 'BORGES ITAQUI F.C.',
   20696550: 'Dom Camillo68',        
   17887202: 'HS SPORTS F.C',
   47543456: 'Tabajara de Inhaua FC2',     
   44810918: 'lsauer fc',
   479510: 'TEAM LOPES 99',  
   24468241: 'GrÃªmio imortal 37',
   212042: 'Tatols Beants F.C',      
   6148913: 'E.C. BororÃ©',
   528730: 'Gremiomaniasm',    
   25311459: 'FC Los Castilho',    
   13951133: 'KING LEONN',       
   159074: 'F.C. Rei Das Copas',
   18344271: 'Laranjja Mecannica',
   25751748: 'MauHumor F.C.',   
   18421230: 'Gig@ntte'
}

In [3]:
# Lista com todos os dados que vocÃª passou
dados_torneio = [
    # Jogo 1 (JG1)
    ("Jogo 1 (JG1)", 528730),
    ("Jogo 1 (JG1)", 18421230),   

    # Jogo 2 (JG2)
    ("Jogo 2 (JG2)", 3914981),
    ("Jogo 2 (JG2)", 13951133),

    # Jogo 3 (JG3)                        
    ("Jogo 3 (JG3)", 212042),
    ("Jogo 3 (JG3)", 18344271),

    # Jogo 4 (JG4)
    ("Jogo 4 (JG4)", 24468241),
    ("Jogo 4 (JG4)", 20696550),

    # Jogo 5 (JG5)
    ("Jogo 5 (JG5)", 159074),
    ("Jogo 5 (JG5)", 25751748),

    # Jogo 6 (JG6)
    ("Jogo 6 (JG6)", 17887202),
    ("Jogo 6 (JG6)", 479510),

    # Jogo 7 (JG7)
    ("Jogo 7 (JG7)", 25311459),
    ("Jogo 7 (JG7)", 47543456),

    # Jogo 8 (JG8)
    ("Jogo 8 (JG8)", 6148913),
    ("Jogo 8 (JG8)", 44810918)    
]

# Criar DataFrame base
df_torneio = pd.DataFrame(dados_torneio, columns=["Jogo", "ID do Time"])

# Adicionar Nome do Time usando o dicionÃ¡rio
df_torneio["Nome do Time"] = df_torneio["ID do Time"].map(nomes_por_id)

# Adicionar ID do Jogo
df_torneio["ID do Jogo"] = df_torneio.groupby("Jogo").cumcount() + 1
df_torneio["ID do Jogo"] = df_torneio["ID do Jogo"].astype(str) + "_" + df_torneio["Jogo"].str[-2]


# Reorganizar colunas
df_torneio = df_torneio[["Jogo", "ID do Time", "Nome do Time", "ID do Jogo"]]

df_sula_jogo_1 = df_torneio[df_torneio["Jogo"] == "Jogo 1 (JG1)"]
df_sula_jogo_2 = df_torneio[df_torneio["Jogo"] == "Jogo 2 (JG2)"]
df_sula_jogo_3 = df_torneio[df_torneio["Jogo"] == "Jogo 3 (JG3)"]
df_sula_jogo_4 = df_torneio[df_torneio["Jogo"] == "Jogo 4 (JG4)"]
df_sula_jogo_5 = df_torneio[df_torneio["Jogo"] == "Jogo 5 (JG5)"]
df_sula_jogo_6 = df_torneio[df_torneio["Jogo"] == "Jogo 6 (JG6)"]
df_sula_jogo_7 = df_torneio[df_torneio["Jogo"] == "Jogo 7 (JG7)"]
df_sula_jogo_8 = df_torneio[df_torneio["Jogo"] == "Jogo 8 (JG8)"]

# Lista de jogos
jogos = {
    "Jogo 1 (JG1)": df_sula_jogo_1,
    "Jogo 2 (JG2)": df_sula_jogo_2,
    "Jogo 3 (JG3)": df_sula_jogo_3,
    "Jogo 4 (JG4)": df_sula_jogo_4,
    "Jogo 5 (JG5)": df_sula_jogo_5,
    "Jogo 6 (JG6)": df_sula_jogo_6,
    "Jogo 7 (JG7)": df_sula_jogo_7,
    "Jogo 8 (JG8)": df_sula_jogo_8
}

display(df_sula_jogo_4)

           Jogo  ID do Time       Nome do Time ID do Jogo
6  Jogo 4 (JG4)    24468241  GrÃªmio imortal 37        1_4
7  Jogo 4 (JG4)    20696550      Dom Camillo68        2_4

### Jogos das Oitavas de Final da Sulamericana

In [4]:
# Rodada 13 - Fase 1 Sulamericana (Equivalente a 13Âº Rodada do Campeonato Brasileiro) 
confrontos_13a_rodada = [
    # Jogo 1 (JG1)
    ("Jogo 1 (JG1)", "1_1", "2_1"),

    # Jogo 2 (JG2)
    ("Jogo 2 (JG2)", "1_2", "2_2"),

    # Jogo 3 (JG3)
    ("Jogo 3 (JG3)", "1_3", "2_3"),

    # Jogo 4 (JG4)
    ("Jogo 4 (JG4)", "1_4", "2_4"),

    # Jogo 5 (JG5)
    ("Jogo 5 (JG5)", "1_5", "2_5"),

    # Jogo 6 (JG6)
    ("Jogo 6 (JG6)", "1_6", "2_6"),

    # Jogo 7 (JG7)
    ("Jogo 7 (JG7)", "1_7", "2_7"),

    # Jogo 8 (JG8)
    ("Jogo 8 (JG8)", "1_8", "2_8")    
]

# Rodada 14 - Fase 1 Sulamericana (Equivalente a 14Âº Rodada do Campeonato Brasileiro) 
confrontos_14a_rodada = [
    # Jogo 1 (JG1)
    ("Jogo 1 (JG1)", "2_1", "1_1"),

    # Jogo 2 (JG2)
    ("Jogo 2 (JG2)", "2_2", "1_2"),

    # Jogo 3 (JG3)
    ("Jogo 3 (JG3)", "2_3", "1_3"),

    # Jogo 4 (JG4)
    ("Jogo 4 (JG4)", "2_4", "1_4"),

    # Jogo 5 (JG5)
    ("Jogo 5 (JG5)", "2_5", "1_5"),

    # Jogo 6 (JG6)
    ("Jogo 6 (JG6)", "2_6", "1_6"),

    # Jogo 7 (JG7)
    ("Jogo 7 (JG7)", "2_7", "1_7"),

    # Jogo 8 (JG8)
    ("Jogo 8 (JG8)", "2_8", "1_8")    
]

In [5]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_13a_rodada, columns=["Jogo", "Mandante_ID", "Visitante_ID"])

# Junta com df_torneio para buscar dados dos mandantes
df_mandantes = df_torneio.rename(columns={
    "ID do Jogo": "Mandante_ID",
    "Nome do Time": "Mandante_Nome",
    "ID do Time": "Mandante_ID_Time"
})[["Jogo", "Mandante_ID", "Mandante_Nome", "Mandante_ID_Time"]]

# Junta com df_torneio para buscar dados dos visitantes
df_visitantes = df_torneio.rename(columns={
    "ID do Jogo": "Visitante_ID",
    "Nome do Time": "Visitante_Nome",
    "ID do Time": "Visitante_ID_Time"    
})[["Jogo", "Visitante_ID", "Visitante_Nome", "Visitante_ID_Time"]]

display(df_confrontos)

           Jogo Mandante_ID Visitante_ID
0  Jogo 1 (JG1)         1_1          2_1
1  Jogo 2 (JG2)         1_2          2_2
2  Jogo 3 (JG3)         1_3          2_3
3  Jogo 4 (JG4)         1_4          2_4
4  Jogo 5 (JG5)         1_5          2_5
5  Jogo 6 (JG6)         1_6          2_6
6  Jogo 7 (JG7)         1_7          2_7
7  Jogo 8 (JG8)         1_8          2_8

In [6]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_13a_rodada, columns=["Jogo", "Mandante_ID", "Visitante_ID"])
df_confrontos["Rodada"] = 13  
df_rodada_13 = df_confrontos.merge(df_mandantes, on=["Jogo", "Mandante_ID"])
df_rodada_13 = df_rodada_13.merge(df_visitantes, on=["Jogo", "Visitante_ID"])


# Transformar em DataFrame
df_confrontos_14 = pd.DataFrame(confrontos_14a_rodada, columns=["Jogo", "Mandante_ID", "Visitante_ID"])
df_confrontos_14["Rodada"] = 14
df_rodada_14 = df_confrontos_14.merge(df_mandantes, on=["Jogo", "Mandante_ID"])
df_rodada_14 = df_rodada_14.merge(df_visitantes, on=["Jogo", "Visitante_ID"])

display(df_rodada_13)

,Jogo,Mandante_ID,Visitante_ID,Rodada,Mandante_Nome,Mandante_ID_Time,Visitante_Nome,Visitante_ID_Time
0,Jogo 1 (JG1),1_1,2_1,13,Gremiomaniasm,528730,Gig@ntte,18421230
1,Jogo 2 (JG2),1_2,2_2,13,BORGES ITAQUI F.C.,3914981,KING LEONN,13951133
2,Jogo 3 (JG3),1_3,2_3,13,Tatols Beants F.C,212042,Laranjja Mecannica,18344271
3,Jogo 4 (JG4),1_4,2_4,13,GrÃªmio imortal 37,24468241,Dom Camillo68,20696550
4,Jogo 5 (JG5),1_5,2_5,13,F.C. Rei Das Copas,159074,MauHumor F.C.,25751748
5,Jogo 6 (JG6),1_6,2_6,13,HS SPORTS F.C,17887202,TEAM LOPES 99,479510
6,Jogo 7 (JG7),1_7,2_7,13,FC Los Castilho,25311459,Tabajara de Inhaua FC2,47543456
7,Jogo 8 (JG8),1_8,2_8,13,E.C. BororÃ©,6148913,lsauer fc,44810918

In [7]:
df_rodadas = pd.concat([
    df_rodada_13,
    df_rodada_14,
], ignore_index=True)

# Ajustar a numeraÃ§Ã£o da rodada para refletir as rodadas do Cartola (Rodada 7 atÃ© 12)
df_rodadas["Rodada"] = df_rodadas["Rodada"]  # Ex: 1 -> 13, 2 -> 14

df_rodadas.to_excel("1_confrontos_oitavas_sula.xlsx", index=False)

# Exibir os confrontos da fase 1
display(df_rodadas.head(20))

,Jogo,Mandante_ID,Visitante_ID,Rodada,Mandante_Nome,Mandante_ID_Time,Visitante_Nome,Visitante_ID_Time
0,Jogo 1 (JG1),1_1,2_1,13,Gremiomaniasm,528730,Gig@ntte,18421230
1,Jogo 2 (JG2),1_2,2_2,13,BORGES ITAQUI F.C.,3914981,KING LEONN,13951133
2,Jogo 3 (JG3),1_3,2_3,13,Tatols Beants F.C,212042,Laranjja Mecannica,18344271
3,Jogo 4 (JG4),1_4,2_4,13,GrÃªmio imortal 37,24468241,Dom Camillo68,20696550
4,Jogo 5 (JG5),1_5,2_5,13,F.C. Rei Das Copas,159074,MauHumor F.C.,25751748
5,Jogo 6 (JG6),1_6,2_6,13,HS SPORTS F.C,17887202,TEAM LOPES 99,479510
6,Jogo 7 (JG7),1_7,2_7,13,FC Los Castilho,25311459,Tabajara de Inhaua FC2,47543456
7,Jogo 8 (JG8),1_8,2_8,13,E.C. BororÃ©,6148913,lsauer fc,44810918
8,Jogo 1 (JG1),2_1,1_1,14,Gig@ntte,18421230,Gremiomaniasm,528730
9,Jogo 2 (JG2),2_2,1_2,14,KING LEONN,13951133,BORGES ITAQUI F.C.,3914981
10,Jogo 3 (JG3),2_3,1_3,14,Laranjja Mecannica,18344271,Tatols Beants F.C,212042
11,Jogo 4 (JG4),2_4,1_4,14,Dom Camillo68,20696550,GrÃªmio imortal 37,24468241
12,Jogo 5 (JG5),2_5,1_5,14,MauHumor F.C.,25751748,F.C. Rei Das Copas,159074
13,Jogo 6 (JG6),2_6,1_6,14,TEAM LOPES 99,479510,HS SPORTS F.C,17887202
14,Jogo 7 (JG7),2_7,1_7,14,Tabajara de Inhaua FC2,47543456,FC Los Castilho,25311459
15,Jogo 8 (JG8),2_8,1_8,14,lsauer fc,44810918,E.C. BororÃ©,6148913

In [8]:
# Criar lista de dicionÃ¡rios no formato desejado
confrontos_js_oitavas_sula = []

for _, row in df_rodadas.iterrows():
    confronto = {
        "jogo": row["Jogo"],
        "rodada": int(row["Rodada"]),
        "mandante": {
            "id": int(row["Mandante_ID_Time"]),
            "nome": row["Mandante_Nome"]
        },
        "visitante": {
            "id": int(row["Visitante_ID_Time"]),
            "nome": row["Visitante_Nome"]
        }
    }
    confrontos_js_oitavas_sula.append(confronto)

# Converter para JSON formatado
json_str = json.dumps(confrontos_js_oitavas_sula, indent=2, ensure_ascii=False)

# Salvar como arquivo JS com uma variÃ¡vel global
with open("1_confrontos_oitavas_sula.js", "w", encoding="utf-8") as f:
    f.write("const confrontos_oitavas_sula = ")
    f.write(json_str)
    f.write(";")

In [9]:
def exibir_confrontos(df_rodadas, rodada=None, jogo=None):
    """
    Filtra e exibe os confrontos por rodada e/ou grupo.
    
    ParÃ¢metros:
    - df_rodadas: DataFrame com todos os confrontos
    - rodada: nÃºmero da rodada (int ou None para todas)
    - grupo: nome do grupo (str ou None para todos)
    
    Retorna:
    - DataFrame filtrado com as colunas relevantes
    """    
    colunas = ["Rodada", "Jogo", "Mandante_ID_Time", "Mandante_Nome", "Visitante_ID_Time", "Visitante_Nome"]
    df_filtrado = df_rodadas.copy()

    df_filtrado["Rodada"] = df_filtrado["Rodada"].astype(str) + "Âª Rodada"    

    if rodada is not None:
        df_filtrado = df_filtrado[df_filtrado["Rodada"] == rodada]

    if jogo is not None:
        df_filtrado = df_filtrado[df_filtrado["Jogo"] == jogo]

    return df_filtrado[colunas].sort_values(by=["Jogo", "Rodada"])

In [10]:
jogo = 8

# Exibir todos os confrontos do Grupo A
display(exibir_confrontos(df_rodadas, jogo= f"Jogo {jogo} (JG{jogo})").head())

,Rodada,Jogo,Mandante_ID_Time,Mandante_Nome,Visitante_ID_Time,Visitante_Nome
7,13Âª Rodada,Jogo 8 (JG8),6148913,E.C. BororÃ©,44810918,lsauer fc
15,14Âª Rodada,Jogo 8 (JG8),44810918,lsauer fc,6148913,E.C. BororÃ©

In [11]:
def campeonato_comecou(api, ids_times):
    """Verifica se o campeonato jÃ¡ comeÃ§ou observando a pontuaÃ§Ã£o na 1Âª rodada."""
    for time_id in ids_times.values():
        try:
            pontuacao = api.time(time_id=time_id, rodada=13).ultima_pontuacao
            if pontuacao is not None:
                return True
        except cartolafc.errors.CartolaFCError:
            continue
    return False

def obter_pontuacao_por_rodada(api, time_id, rodada_atual):
    """ObtÃ©m a pontuaÃ§Ã£o do time em cada rodada atÃ© a rodada atual."""
    pontuacoes = {}
    for rodada in range(13, rodada_atual):
        try:
            time_rodada = api.time(time_id=time_id, rodada=rodada)
            pontuacoes[rodada] = time_rodada.ultima_pontuacao
        except cartolafc.errors.CartolaFCError as e:
            print(f"Erro ao acessar pontuaÃ§Ã£o da rodada {rodada} para o time {time_id}: {e}")
            pontuacoes[rodada] = None
    return pontuacoes


def gerar_df_pontuacoes(api, ids_times):
    rodada_atual = api.mercado().rodada_atual
    total_rodadas = 2

    if not campeonato_comecou(api, ids_times):
        print("ðŸ“Œ O campeonato ainda nÃ£o comeÃ§ou. Criando estrutura com placeholders.")
        df = pd.DataFrame(index=ids_times.keys(), columns=[f'Rodada {i}' for i in range(13, total_rodadas + 1)])
        df[:] = 0
    else:
        df = pd.DataFrame()
        for nome, time_id in ids_times.items():
            pontuacoes = obter_pontuacao_por_rodada(api, time_id, rodada_atual)
            df[nome] = pd.Series(pontuacoes)
        df = df.transpose()
        df.columns = [f'Rodada {i}' for i in range(13, rodada_atual)]
        df.loc['Lider_Rodada'] = df.idxmax()
    
    return df

In [12]:
ids_times = {v: k for k, v in nomes_por_id.items()}

df_pontuacoes = gerar_df_pontuacoes(api, ids_times)
display(df_pontuacoes.T)

,BORGES ITAQUI F.C.,Dom Camillo68,HS SPORTS F.C,Tabajara de Inhaua FC2,lsauer fc,TEAM LOPES 99,GrÃªmio imortal 37,Tatols Beants F.C,E.C. BororÃ©,Gremiomaniasm,FC Los Castilho,KING LEONN,F.C. Rei Das Copas,Laranjja Mecannica,MauHumor F.C.,Gig@ntte,Lider_Rodada
Rodada 13,105.91,108.22,113.51,133.44,117.11,120.87,133.05,79.41,117.51,67.91,120.01,114.76,64.40,121.01,117.47,116.91,Tabajara de Inhaua FC2
Rodada 14,66.50,78.30,66.40,63.50,73.10,75.80,80.90,64.45,68.92,48.20,70.50,59.90,69.70,54.00,72.70,72.30,GrÃªmio imortal 37
Rodada 15,89.40,101.80,98.10,89.90,98.50,89.80,81.20,97.20,92.69,77.98,99.60,105.02,98.20,68.99,117.80,82.10,MauHumor F.C.

In [13]:
def classificacao_por_grupo(df_rodadas, df_pontuacoes):

    # âœ… Remover o 'Lider_Rodada' do DataFrame de pontuaÃ§Ãµes
    df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')

    estatisticas = {}

    for _, confronto in df_rodadas.iterrows():
        rodada = confronto["Rodada"]
        mandante = confronto["Mandante_Nome"]
        visitante = confronto["Visitante_Nome"]
        jogo = confronto["Jogo"]
        coluna_rodada = f"Rodada {rodada}"

        if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
            continue
        if coluna_rodada not in df_pontuacoes_times.columns:
            continue

        pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
        pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

        if pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante):
            continue

        for time in [mandante, visitante]:
            if jogo not in estatisticas:
                estatisticas[jogo] = {}
            if time not in estatisticas[jogo]:
                estatisticas[jogo][time] = {
                    "Pontos": 0, "VitÃ³rias": 0, "Empates": 0, "Derrotas": 0,
                    "Total_Cartola": 0, "Cartola_Sofrido": 0
                }

        # Atualizar estatÃ­sticas
        estatisticas[jogo][mandante]["Total_Cartola"] += pontos_mandante
        estatisticas[jogo][mandante]["Cartola_Sofrido"] += pontos_visitante

        estatisticas[jogo][visitante]["Total_Cartola"] += pontos_visitante
        estatisticas[jogo][visitante]["Cartola_Sofrido"] += pontos_mandante

        if pontos_mandante > pontos_visitante:
            estatisticas[jogo][mandante]["Pontos"] += 3
            estatisticas[jogo][mandante]["VitÃ³rias"] += 1
            estatisticas[jogo][visitante]["Derrotas"] += 1
        elif pontos_mandante < pontos_visitante:
            estatisticas[jogo][visitante]["Pontos"] += 3
            estatisticas[jogo][visitante]["VitÃ³rias"] += 1
            estatisticas[jogo][mandante]["Derrotas"] += 1
        else:
            estatisticas[jogo][mandante]["Pontos"] += 1
            estatisticas[jogo][visitante]["Pontos"] += 1
            estatisticas[jogo][mandante]["Empates"] += 1
            estatisticas[jogo][visitante]["Empates"] += 1

    # âœ… Calcular Total Geral apenas para times vÃ¡lidos
    total_geral = df_pontuacoes_times.sum(axis=1)

    # Montar DataFrame final
    df_resultado = pd.concat([
        pd.DataFrame({
            "Jogo": jogo,
            "Nome do Time": list(times.keys()),
            "Pontos": [stats["Pontos"] for stats in times.values()],
            "VitÃ³rias": [stats["VitÃ³rias"] for stats in times.values()],
            "Empates": [stats["Empates"] for stats in times.values()],
            "Derrotas": [stats["Derrotas"] for stats in times.values()],
            "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
            "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
            "Saldo Cartola": [
                stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
            ],
            "Total Geral": [
                total_geral.get(nome, 0) for nome in times.keys()
            ]
        })
        for jogo, times in estatisticas.items()
    ], ignore_index=True)

    df_resultado = df_resultado.sort_values(
        by=["Jogo", "Pontos", "VitÃ³rias", "Total Cartola", "Saldo Cartola"],
        ascending=[True, False, False, False, False]
    )

    df_resultado["PosiÃ§Ã£o"] = df_resultado.groupby("Jogo").cumcount() + 1

    df_resultado_por_grupo = {
        grupo: df_resultado[df_resultado["Jogo"] == grupo] for grupo in df_resultado["Jogo"].unique()
    }

    return df_resultado, df_resultado_por_grupo

In [14]:
# Padroniza os nomes no df_rodadas
df_rodadas["Mandante_Nome"] = df_rodadas["Mandante_Nome"].str.strip()
df_rodadas["Visitante_Nome"] = df_rodadas["Visitante_Nome"].str.strip()

# Padroniza os Ã­ndices do df_pontuacoes
df_pontuacoes.index = df_pontuacoes.index.str.strip()

# Exibe para conferÃªncia
display(df_pontuacoes)

,Rodada 13,Rodada 14,Rodada 15
BORGES ITAQUI F.C.,105.91,66.50,89.40
Dom Camillo68,108.22,78.30,101.80
HS SPORTS F.C,113.51,66.40,98.10
Tabajara de Inhaua FC2,133.44,63.50,89.90
lsauer fc,117.11,73.10,98.50
TEAM LOPES 99,120.87,75.80,89.80
GrÃªmio imortal 37,133.05,80.90,81.20
Tatols Beants F.C,79.41,64.45,97.20
E.C. BororÃ©,117.51,68.92,92.69
Gremiomaniasm,67.91,48.20,77.98
FC Los Castilho,120.01,70.50,99.60
KING LEONN,114.76,59.90,105.02
F.C. Rei Das Copas,64.40,69.70,98.20
Laranjja Mecannica,121.01,54.00,68.99
MauHumor F.C.,117.47,72.70,117.80
Gig@ntte,116.91,72.30,82.10
Lider_Rodada,Tabajara de Inhaua FC2,GrÃªmio imortal 37,MauHumor F.C.

In [15]:
# Gerar a classificaÃ§Ã£o da fase 1 sula
df_resultado, df_resultado_por_jogo = classificacao_por_grupo(df_rodadas, df_pontuacoes)

# Salvar cada grupo em uma aba do Excel
with pd.ExcelWriter("1_classificacao_por_jogo_oitavas_sula.xlsx") as writer:
    for jogo, df in df_resultado_por_jogo.items():
        df.to_excel(writer, sheet_name=jogo, index=False)

# Exibir a classificaÃ§Ã£o geral
df_resultado_jogo_1 = df_resultado[df_resultado["Jogo"] == "Jogo 1 (JG1)"]
df_resultado_jogo_2 = df_resultado[df_resultado["Jogo"] == "Jogo 2 (JG2)"]
df_resultado_jogo_3 = df_resultado[df_resultado["Jogo"] == "Jogo 3 (JG3)"]
df_resultado_jogo_4 = df_resultado[df_resultado["Jogo"] == "Jogo 4 (JG4)"]
df_resultado_jogo_5 = df_resultado[df_resultado["Jogo"] == "Jogo 5 (JG5)"]
df_resultado_jogo_6 = df_resultado[df_resultado["Jogo"] == "Jogo 6 (JG6)"]
df_resultado_jogo_7 = df_resultado[df_resultado["Jogo"] == "Jogo 7 (JG7)"]
df_resultado_jogo_8 = df_resultado[df_resultado["Jogo"] == "Jogo 8 (JG8)"]

display(df_resultado_jogo_1, df_resultado_jogo_2, df_resultado_jogo_3, df_resultado_jogo_4,
         df_resultado_jogo_5, df_resultado_jogo_6, df_resultado_jogo_7, df_resultado_jogo_8)

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Total Geral,PosiÃ§Ã£o
1,Jogo 1 (JG1),Gig@ntte,6,2,0,0,189.21,116.11,73.10,271.31,1
0,Jogo 1 (JG1),Gremiomaniasm,0,0,0,2,116.11,189.21,-73.10,194.09,2

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Total Geral,PosiÃ§Ã£o
3,Jogo 2 (JG2),KING LEONN,3,1,0,1,174.66,172.41,2.25,279.68,1
2,Jogo 2 (JG2),BORGES ITAQUI F.C.,3,1,0,1,172.41,174.66,-2.25,261.81,2

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Total Geral,PosiÃ§Ã£o
5,Jogo 3 (JG3),Laranjja Mecannica,3,1,0,1,175.01,143.86,31.15,244.00,1
4,Jogo 3 (JG3),Tatols Beants F.C,3,1,0,1,143.86,175.01,-31.15,241.06,2

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Total Geral,PosiÃ§Ã£o
6,Jogo 4 (JG4),GrÃªmio imortal 37,6,2,0,0,213.95,186.52,27.43,295.15,1
7,Jogo 4 (JG4),Dom Camillo68,0,0,0,2,186.52,213.95,-27.43,288.32,2

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Total Geral,PosiÃ§Ã£o
9,Jogo 5 (JG5),MauHumor F.C.,6,2,0,0,190.17,134.10,56.07,307.97,1
8,Jogo 5 (JG5),F.C. Rei Das Copas,0,0,0,2,134.10,190.17,-56.07,232.30,2

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Total Geral,PosiÃ§Ã£o
11,Jogo 6 (JG6),TEAM LOPES 99,6,2,0,0,196.67,179.91,16.76,286.47,1
10,Jogo 6 (JG6),HS SPORTS F.C,0,0,0,2,179.91,196.67,-16.76,278.01,2

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Total Geral,PosiÃ§Ã£o
13,Jogo 7 (JG7),Tabajara de Inhaua FC2,3,1,0,1,196.94,190.51,6.43,286.84,1
12,Jogo 7 (JG7),FC Los Castilho,3,1,0,1,190.51,196.94,-6.43,290.11,2

,Jogo,Nome do Time,Pontos,VitÃ³rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Total Geral,PosiÃ§Ã£o
15,Jogo 8 (JG8),lsauer fc,3,1,0,1,190.21,186.43,3.78,288.71,1
14,Jogo 8 (JG8),E.C. BororÃ©,3,1,0,1,186.43,190.21,-3.78,279.12,2

In [16]:
# Verifica se a variÃ¡vel df_resultado_por_grupo existe e estÃ¡ populada
if 'df_resultado_por_jogo' in locals() and df_resultado_por_jogo:
    # Criar estrutura em formato de dicionÃ¡rio para JSON/JS
    classificacao_js = {}

    for jogo, df in df_resultado_por_jogo.items():
        classificacao_js[jogo] = []
        for _, row in df.iterrows():
            classificacao_js[jogo].append({
                "posicao": int(row["PosiÃ§Ã£o"]),
                "nome": row["Nome do Time"],
                "pontos": int(row["Pontos"]),
                "vitorias": int(row["VitÃ³rias"]),
                "empates": int(row["Empates"]),
                "derrotas": int(row["Derrotas"]),
                "totalCartola": float(row["Total Cartola"]),
                "cartolaSofrido": float(row["Cartola Sofrido"]),
                "saldoCartola": float(row["Saldo Cartola"])
            })

    # Converter para JSON formatado
    json_str = json.dumps(classificacao_js, indent=2, ensure_ascii=False)

    # Salvar como arquivo JS com uma variÃ¡vel global
    with open("1_classificacao_por_jogo_oitavas_sula.js", "w", encoding="utf-8") as f:
        f.write("const classificacao_oitavas_sula = ")
        f.write(json_str)
        f.write(";")

    print("âœ… Arquivo JS salvo com sucesso.")

else:
    print("âš ï¸ ClassificaÃ§Ã£o das Oitavas da Sula indisponÃ­vel. O mercado pode estar em manutenÃ§Ã£o ou os dados ainda nÃ£o foram gerados.")

âœ… Arquivo JS salvo com sucesso.

In [17]:
def exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada, jogo=None):
    """
    Exibe os resultados de uma rodada especÃ­fica, com pontuaÃ§Ã£o e dados dos times.
    """

    if "Rodada" not in df_rodadas.columns:
        raise ValueError("O DataFrame df_rodadas precisa conter a coluna 'Rodada'.")

    if rodada not in df_rodadas["Rodada"].values:
        return pd.DataFrame([{
            "Jogo": jogo or "-",
            "Rodada": rodada,
            "Mandante_Nome": "-",
            "Mandante_Clube": "-",
            "Mandante_Participante": "-",
            "Mandante_Pontos": "-",
            "Visitante_Nome": "-",
            "Visitante_Clube": "-",
            "Visitante_Participante": "-",
            "Visitante_Pontos": "-",
        }])

    df_filtrado = df_rodadas[df_rodadas["Rodada"] == rodada]
    if jogo:
        df_filtrado = df_filtrado[df_filtrado["Jogo"] == jogo]

    resultados = []

    for _, row in df_filtrado.iterrows():
        jogo_ = row["Jogo"]
        mandante = row["Mandante_Nome"]
        visitante = row["Visitante_Nome"]

        pontos_mandante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(mandante, None)
        pontos_visitante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(visitante, None)

        resultados.append({
            "Jogo": jogo_,
            "Rodada": rodada,
            "Mandante_Nome": mandante,
            "Mandante_Pontos": pontos_mandante,
            "Visitante_Nome": visitante,
            "Visitante_Pontos": pontos_visitante
        })

    return pd.DataFrame(resultados)

In [18]:
# Exibir resultados da 13Âª rodada
df_resultados_rodada_13 = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=13)

# Exibir apenas os resultados do Grupo B na 1Âª rodada
df_resultados_jogo_2 = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=13, jogo="Jogo 2 (JG2)")

# Exibir
display(df_resultados_rodada_13)

,Jogo,Rodada,Mandante_Nome,Mandante_Pontos,Visitante_Nome,Visitante_Pontos
0,Jogo 1 (JG1),13,Gremiomaniasm,67.91,Gig@ntte,116.91
1,Jogo 2 (JG2),13,BORGES ITAQUI F.C.,105.91,KING LEONN,114.76
2,Jogo 3 (JG3),13,Tatols Beants F.C,79.41,Laranjja Mecannica,121.01
3,Jogo 4 (JG4),13,GrÃªmio imortal 37,133.05,Dom Camillo68,108.22
4,Jogo 5 (JG5),13,F.C. Rei Das Copas,64.40,MauHumor F.C.,117.47
5,Jogo 6 (JG6),13,HS SPORTS F.C,113.51,TEAM LOPES 99,120.87
6,Jogo 7 (JG7),13,FC Los Castilho,120.01,Tabajara de Inhaua FC2,133.44
7,Jogo 8 (JG8),13,E.C. BororÃ©,117.51,lsauer fc,117.11

In [19]:
# Criar arquivo com uma aba para cada rodada contendo os resultados detalhados
from pathlib import Path

# Caminho do arquivo de saÃ­da
caminho_resultados = "1_resultados_oitavas_sula.xlsx"

# Descobrir as rodadas Ãºnicas no DataFrame
rodadas_disponiveis = sorted(df_rodadas["Rodada"].unique())

with pd.ExcelWriter(caminho_resultados) as writer:
    for rodada in rodadas_disponiveis:
        df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
        nome_aba = f"Rodada {rodada}"
        df_resultados.to_excel(writer, sheet_name=nome_aba, index=False)

print(f"Arquivo salvo com sucesso: {Path(caminho_resultados).resolve()}")

display(df_resultados)

Arquivo salvo com sucesso: C:\Users\ferna\Projetos\GitHub\cartola_fbc\sulamericana\datasets_sula\1_resultados_oitavas_sula.xlsx

,Jogo,Rodada,Mandante_Nome,Mandante_Pontos,Visitante_Nome,Visitante_Pontos
0,Jogo 1 (JG1),14,Gig@ntte,72.30,Gremiomaniasm,48.20
1,Jogo 2 (JG2),14,KING LEONN,59.90,BORGES ITAQUI F.C.,66.50
2,Jogo 3 (JG3),14,Laranjja Mecannica,54.00,Tatols Beants F.C,64.45
3,Jogo 4 (JG4),14,Dom Camillo68,78.30,GrÃªmio imortal 37,80.90
4,Jogo 5 (JG5),14,MauHumor F.C.,72.70,F.C. Rei Das Copas,69.70
5,Jogo 6 (JG6),14,TEAM LOPES 99,75.80,HS SPORTS F.C,66.40
6,Jogo 7 (JG7),14,Tabajara de Inhaua FC2,63.50,FC Los Castilho,70.50
7,Jogo 8 (JG8),14,lsauer fc,73.10,E.C. BororÃ©,68.92

In [20]:
resultados_js = []

for rodada in sorted(df_rodadas["Rodada"].unique()):
    df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
    
    for _, row in df_resultados.iterrows():
        resultado = {
            "jogo": row["Jogo"],
            "rodada": int(rodada),
            "mandante": {
                "nome": row["Mandante_Nome"],
                # "participante": row["Mandante_Participante"],
                # "clube": row["Mandante_Clube"],
                "pontos": float(row["Mandante_Pontos"]) if row["Mandante_Pontos"] is not None else None
            },
            "visitante": {
                "nome": row["Visitante_Nome"],
                # "participante": row["Visitante_Participante"],
                # "clube": row["Visitante_Clube"],
                "pontos": float(row["Visitante_Pontos"]) if row["Visitante_Pontos"] is not None else None
            },
            "vencedor": (
                "mandante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] > row["Visitante_Pontos"]
                else "visitante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] < row["Visitante_Pontos"]
                else "empate" if row["Mandante_Pontos"] == row["Visitante_Pontos"] and row["Mandante_Pontos"] is not None
                else "indefinido"
            )

        }
        resultados_js.append(resultado)

# Exportar para arquivo .js
import json

with open("1_resultados_oitavas_sula.js", "w", encoding="utf-8") as f:
    f.write("const resultados_oitavas_sula = ")
    f.write(json.dumps(resultados_js, indent=2, ensure_ascii=False))
    f.write(";")

### Identificando Vencedores das Oitavas de Final

In [21]:
def obter_classificados_com_id(resultados, ids_por_nome):
    classificados = []
    jogos_agrupados = {}
    for jogo in resultados:
        chave = jogo['jogo']
        if chave not in jogos_agrupados:
            jogos_agrupados[chave] = []
        jogos_agrupados[chave].append(jogo)

    for chave, partidas in jogos_agrupados.items():
        if len(partidas) < 2:
            continue

        partidas = sorted(partidas, key=lambda x: x['rodada'])
        ida, volta = partidas

        if ida['mandante']['pontos'] is None or volta['mandante']['pontos'] is None:
            continue

        time1 = ida['mandante']['nome']
        time2 = ida['visitante']['nome']

        pontos_time1 = ida['mandante']['pontos'] + volta['visitante']['pontos']
        pontos_time2 = ida['visitante']['pontos'] + volta['mandante']['pontos']

        if pontos_time1 > pontos_time2:
            vencedor = time1
        elif pontos_time2 > pontos_time1:
            vencedor = time2
        else:
            vencedor = "EMPATE"

        classificados.append({
            "jogo": chave,
            "classificado_nome": vencedor,
            "classificado_id": ids_por_nome.get(vencedor) if vencedor in ids_por_nome else None
        })

    return classificados

In [22]:
# Inverter os nomes
ids_por_nome = {v: k for k, v in nomes_por_id.items()}

# Ler o resultados_fase_3.js (como jÃ¡ fizemos antes)
with open("1_resultados_oitavas_sula.js", "r", encoding="utf-8") as f:
    conteudo = f.read()

conteudo_json = conteudo.replace("const resultados_oitavas_sula = ", "").strip().rstrip(";")
resultados = json.loads(conteudo_json)

# Obter os classificados
classificados = obter_classificados_com_id(resultados, ids_por_nome)

# Salvar
df_classificados = pd.DataFrame(classificados)
df_classificados.to_excel("1_classificados_oitavas_sula.xlsx", index=False)

with open("1_classificados_oitavas_sula.js", "w", encoding="utf-8") as f:
    f.write("const classificados_oitavas_sula = ")
    json.dump(classificados, f, ensure_ascii=False, indent=2)
    f.write(";")
print("âœ… Classificados salvos com sucesso em '1_classificados_oitavas_sula.xlsx' e '1_classificados_oitavas_sula.js'.")

# Exibir para validar
print("Classificados encontrados:", classificados)

âœ… Classificados salvos com sucesso em '1_classificados_oitavas_sula.xlsx' e '1_classificados_oitavas_sula.js'.
Classificados encontrados: [{'jogo': 'Jogo 1 (JG1)', 'classificado_nome': 'Gig@ntte', 'classificado_id': 18421230}, {'jogo': 'Jogo 2 (JG2)', 'classificado_nome': 'KING LEONN', 'classificado_id': 13951133}, {'jogo': 'Jogo 3 (JG3)', 'classificado_nome': 'Laranjja Mecannica', 'classificado_id': 18344271}, {'jogo': 'Jogo 4 (JG4)', 'classificado_nome': 'GrÃªmio imortal 37', 'classificado_id': 24468241}, {'jogo': 'Jogo 5 (JG5)', 'classificado_nome': 'MauHumor F.C.', 'classificado_id': 25751748}, {'jogo': 'Jogo 6 (JG6)', 'classificado_nome': 'TEAM LOPES 99', 'classificado_id': 479510}, {'jogo': 'Jogo 7 (JG7)', 'classificado_nome': 'Tabajara de Inhaua FC2', 'classificado_id': 47543456}, {'jogo': 'Jogo 8 (JG8)', 'classificado_nome': 'lsauer fc', 'classificado_id': 44810918}]