### Inicialização da API do Cartola FC e Configuração do Pandas

In [51]:
import cartolafc
import pandas as pd
from difflib import get_close_matches
import json

pd.set_option('display.max_columns', 50)            # permite a visualização de 50 colunas do dataframe
pd.options.display.float_format = '{:.2f}'.format   # pandas: para todos os números aparecerem com duas casas decimais

# Cria uma instância da API
api = cartolafc.Api(attempts=5)

In [52]:
nomes_times = [
                'seralex',
                'Fedato Futebol Clube',
                'SUPER VASCÃO F.C',
                'Rolo Compressor ZN',

                'Analove10 ITAQUI GRANDE!!',
                'FBC Colorado',
                'MauHumor F.C.',
                'lsauer fc',

                'Gig@ntte',
                'SERGRILLO',
                'Paulo Virgili FC',
                'Pity10',

                'Super Vasco f.c',
                'KillerColorado',
                'pura bucha /botafogo', 
                'cartola scheuer', 

                'Dom Camillo68',  
                'Texas Club 2025',
                'Gremiomaniasm',
                'Laranjja Mecannica',

                'Real SCI',
                'Lá do Itaqui',
                'FC Los Castilho',
                'Noah A 10',

                'Tatols Beants F.C',  
                'S.E.R. GRILLO',
                'KING LEONN',
                'teves_futsal20 f.c',

                'BORGES ITAQUI F.C.', 
                'A Lenda Super Vasco F.c',  
                'TEAM LOPES 99',
                'RHANKA DENTY FC25' 
                ]


# Dicionário para armazenar os IDs dos times
ids_times = {}

# Função para buscar o ID de um time pelo nome usando correspondência flexível
def buscar_id_time(nome_time):
    try:
        times = api.times(query=nome_time)
        nomes_api = [time.nome for time in times]
        nome_proximo = get_close_matches(nome_time, nomes_api, n=1, cutoff=0.6)
        if nome_proximo:
            for time in times:
                if time.nome == nome_proximo[0]:
                    return time.id
    except cartolafc.errors.CartolaFCError as e:
        print(f"Erro ao buscar ID para o time {nome_time}: {e}")
    return None

# Buscar os IDs dos times pelo nome
for nome in nomes_times:
    time_id = buscar_id_time(nome)
    if time_id:
        ids_times[nome] = time_id
    else:
        print(f"Não foi possível encontrar o ID para o time {nome}")

print(nomes_times)

['seralex', 'Fedato Futebol Clube', 'SUPER VASCÃO F.C', 'Rolo Compressor ZN', 'Analove10 ITAQUI GRANDE!!', 'FBC Colorado', 'MauHumor F.C.', 'lsauer fc', 'Gig@ntte', 'SERGRILLO', 'Paulo Virgili FC', 'Pity10', 'Super Vasco f.c', 'KillerColorado', 'pura bucha /botafogo', 'cartola scheuer', 'Dom Camillo68', 'Texas Club 2025', 'Gremiomaniasm', 'Laranjja Mecannica', 'Real SCI', 'Lá do Itaqui', 'FC Los Castilho', 'Noah A 10', 'Tatols Beants F.C', 'S.E.R. GRILLO', 'KING LEONN', 'teves_futsal20 f.c', 'BORGES ITAQUI F.C.', 'A Lenda Super Vasco F.c', 'TEAM LOPES 99', 'RHANKA DENTY FC25']

In [53]:
# Gerar DataFrame com nome do time, ID e URL
df_urls = pd.DataFrame([
    {"Nome do Time": nome, "ID do Time": time_id, "Link do Time": f"https://cartola.globo.com/#!/time/{time_id}"}
    for nome, time_id in ids_times.items()
])

# Caminho e nome do arquivo Excel
caminho_excel = "links_times_cartola_liga_classica.xlsx"

# Salvar o DataFrame em Excel
df_urls.to_excel(caminho_excel, index=False)

print(f"✅ Arquivo salvo com sucesso: {caminho_excel}")


# Exibir como tabela
display(df_urls)

✅ Arquivo salvo com sucesso: links_times_cartola_liga_classica.xlsx

,Nome do Time,ID do Time,Link do Time
0,seralex,29228373,https://cartola.globo.com/#!/time/29228373
1,Fedato Futebol Clube,18642587,https://cartola.globo.com/#!/time/18642587
2,SUPER VASCÃO F.C,4229593,https://cartola.globo.com/#!/time/4229593
3,Rolo Compressor ZN,18223508,https://cartola.globo.com/#!/time/18223508
4,Analove10 ITAQUI GRANDE!!,44574236,https://cartola.globo.com/#!/time/44574236
5,FBC Colorado,186283,https://cartola.globo.com/#!/time/186283
6,MauHumor F.C.,25751748,https://cartola.globo.com/#!/time/25751748
7,lsauer fc,44810918,https://cartola.globo.com/#!/time/44810918
8,Gig@ntte,18421230,https://cartola.globo.com/#!/time/18421230
9,SERGRILLO,25811332,https://cartola.globo.com/#!/time/25811332
10,Paulo Virgili FC,14124559,https://cartola.globo.com/#!/time/14124559
11,Pity10,48498051,https://cartola.globo.com/#!/time/48498051
12,Super Vasco f.c,13707047,https://cartola.globo.com/#!/time/13707047
13,KillerColorado,36359,https://cartola.globo.com/#!/time/36359
14,pura bucha /botafogo,18661583,https://cartola.globo.com/#!/time/18661583
15,cartola scheuer,3851966,https://cartola.globo.com/#!/time/3851966
16,Dom Camillo68,20696550,https://cartola.globo.com/#!/time/20696550
17,Texas Club 2025,1273719,https://cartola.globo.com/#!/time/1273719
18,Gremiomaniasm,528730,https://cartola.globo.com/#!/time/528730
19,Laranjja Mecannica,18344271,https://cartola.globo.com/#!/time/18344271
20,Real SCI,3246608,https://cartola.globo.com/#!/time/3246608
21,Lá do Itaqui,50158297,https://cartola.globo.com/#!/time/50158297
22,FC Los Castilho,25311459,https://cartola.globo.com/#!/time/25311459
23,Noah A 10,49960687,https://cartola.globo.com/#!/time/49960687
24,Tatols Beants F.C,212042,https://cartola.globo.com/#!/time/212042
25,S.E.R. GRILLO,5823700,https://cartola.globo.com/#!/time/5823700
26,KING LEONN,13951133,https://cartola.globo.com/#!/time/13951133
27,teves_futsal20 f.c,335716,https://cartola.globo.com/#!/time/335716
28,BORGES ITAQUI F.C.,3914981,https://cartola.globo.com/#!/time/3914981
29,A Lenda Super Vasco F.c,117598,https://cartola.globo.com/#!/time/117598
30,TEAM LOPES 99,479510,https://cartola.globo.com/#!/time/479510
31,RHANKA DENTY FC25,29411306,https://cartola.globo.com/#!/time/29411306

In [54]:
# ===============================
#  FASE (dinâmica) + PARCIAIS DA RODADA EM ANDAMENTO
# ===============================
import time, requests, pandas as pd

FASE_INICIO = 20          # primeira rodada da fase
FASE_LIMITE = 25          # última rodada possível da fase
CAP_MULT    = 1.5
PER_REQ_SLEEP = 1.0
MAX_RETRIES   = 3

# Sessão HTTP
sess = requests.Session()
sess.headers.update({
    "User-Agent": "Mozilla/5.0",
    "Accept": "application/json, text/plain, */*",
})

def http_status_e_rodada():
    r = sess.get("https://api.cartola.globo.com/mercado/status", timeout=20)
    r.raise_for_status()
    d = r.json()
    return int(d.get("status_mercado", 0)), int(d.get("rodada_atual", 0))

def get_parciais():
    r = sess.get("https://api.cartola.globo.com/atletas/pontuados", timeout=30)
    r.raise_for_status()
    return r.json().get("atletas", {})

def get_escalacao_por_rodada_http_dbg(time_id: int, rodada: int, max_retries=MAX_RETRIES):
    urls = [
        f"https://api/cartola.globo.com/time/id/{time_id}/{rodada}".replace("https://api/", "https://api."),
        f"https://api.cartola.globo.com/time/id/{time_id}",
    ]
    last_err = None
    for url in urls:
        wait = 0.7
        for _ in range(max_retries):
            try:
                r = sess.get(url, timeout=30)
                st = r.status_code
                if st == 200:
                    d = r.json()
                    atletas = d.get("atletas") or []
                    return atletas, d.get("capitao_id"), st, (None if atletas else "sem_atletas")
                if st in (403, 429, 503):
                    time.sleep(wait); wait *= 1.8; continue
                last_err = f"status={st}"
                break
            except Exception as e:
                last_err = f"exc:{type(e).__name__}"
                time.sleep(wait); wait *= 1.8
    return [], None, None, last_err

# ---- 0) Determinar FASE_FIM dinamicamente ----
status_http, rodada_http = http_status_e_rodada()
try:
    rodada_api = api.mercado().rodada_atual
except Exception:
    rodada_api = rodada_http

# rodada de referência (HTTP tem prioridade p/ "em andamento")
rod_ref = rodada_http or rodada_api

if status_http == 2:   # em andamento → incluir a atual (para parciais)
    FASE_FIM = max(FASE_INICIO, min(FASE_LIMITE, rod_ref))
    RODADAS_CONCLUIDAS_FIM = FASE_FIM - 1
elif status_http == 1: # mercado aberto (antes de começar) → só até a anterior
    FASE_FIM = max(FASE_INICIO, min(FASE_LIMITE, rod_ref - 1))
    RODADAS_CONCLUIDAS_FIM = FASE_FIM
else:                  # 3: atualizando pós-rodada → tudo concluído até a atual
    FASE_FIM = max(FASE_INICIO, min(FASE_LIMITE, rod_ref))
    RODADAS_CONCLUIDAS_FIM = FASE_FIM

print(f"Status={status_http} | rodada_http={rodada_http} | FASE_INICIO={FASE_INICIO} | FASE_FIM(dinâmico)={FASE_FIM} | fechadas até {RODADAS_CONCLUIDAS_FIM}")

# 1) Monta DF com rodadas CONCLUÍDAS da fase
dados = {}
for nome, time_id in ids_times.items():
    pontuacoes = {}
    if RODADAS_CONCLUIDAS_FIM >= FASE_INICIO:
        for r in range(FASE_INICIO, RODADAS_CONCLUIDAS_FIM + 1):
            try:
                t = api.time(time_id=int(time_id), rodada=r)
                pontuacoes[r] = t.ultima_pontuacao
            except Exception:
                pontuacoes[r] = None
    dados[nome] = pd.Series({f"Rodada {k}": v for k, v in pontuacoes.items()})

df_pontuacoes = pd.DataFrame.from_dict(dados, orient="index")

# cria SOMENTE as colunas da fase até FASE_FIM (evita "futuras" zeradas)
todas = [f"Rodada {i}" for i in range(FASE_INICIO, FASE_FIM + 1)]
df_pontuacoes = df_pontuacoes.reindex(columns=todas)              # sem fill_value aqui!
df_pontuacoes = df_pontuacoes.apply(pd.to_numeric, errors="coerce")

# 2) Injeta PARCIAIS se a rodada atual estiver em andamento E dentro da fase
col_atual = f"Rodada {rod_ref}"
if status_http == 2 and (FASE_INICIO <= rod_ref <= FASE_FIM):
    print(f"🟡 Rodada {rod_ref} em andamento — aplicando parciais…")
    parciais_map = get_parciais()
    if parciais_map:
        for nome_time, time_id in ids_times.items():
            try:
                time_id = int(time_id)
                atletas, capitao_id, http_st, motivo = get_escalacao_por_rodada_http_dbg(time_id, rod_ref)

                # fallback pela lib se vier sem atletas
                if not atletas and (motivo in ("sem_atletas", "sem_escalacao", None)):
                    try:
                        t = api.time(time_id=time_id, rodada=rod_ref)
                        atletas = [{"atleta_id": a.atleta_id} for a in (t.atletas or [])]
                        if not capitao_id:
                            capitao_id = getattr(t, "capitao_id", None)
                    except Exception:
                        pass

                total = 0.0
                if atletas:
                    for a in atletas:
                        aid = str(a.get("atleta_id"))
                        if aid in parciais_map:
                            p = float(parciais_map[aid].get("pontuacao", 0) or 0)
                            if capitao_id and a.get("atleta_id") == capitao_id:
                                p *= CAP_MULT
                            total += p
                    # grava parcial (cria coluna se ainda não existir)
                    if col_atual not in df_pontuacoes.columns:
                        df_pontuacoes[col_atual] = pd.NA
                    df_pontuacoes.loc[nome_time, col_atual] = round(total, 2)
                time.sleep(PER_REQ_SLEEP)
            except Exception:
                time.sleep(PER_REQ_SLEEP)
    else:
        print("⚠️ Parciais vazias agora; tente novamente em instantes.")
else:
    print("ℹ️ Sem parciais para aplicar nesta fase (status != 2 ou fora do intervalo).")

# 3) Recria marcador de líder (opcional)
try:
    lider = df_pontuacoes.apply(pd.to_numeric, errors="coerce").idxmax(axis=0)
    df_pontuacoes.loc["Lider_Rodada"] = lider
except Exception as e:
    print("⚠️ Não foi possível recalcular 'Lider_Rodada':", e)

# 4) Para EXPORTAR (se quiser zeros), use uma CÓPIA:
df_export = df_pontuacoes.fillna(0.0)

# Visualização
try:
    display(df_pontuacoes.T)
except Exception:
    print(df_pontuacoes.T.head(15))

Status=1 | rodada_http=21 | FASE_INICIO=20 | FASE_FIM(dinâmico)=20 | fechadas até 20
ℹ️ Sem parciais para aplicar nesta fase (status != 2 ou fora do intervalo).

,seralex,Fedato Futebol Clube,SUPER VASCÃO F.C,Rolo Compressor ZN,Analove10 ITAQUI GRANDE!!,FBC Colorado,MauHumor F.C.,lsauer fc,Gig@ntte,SERGRILLO,Paulo Virgili FC,Pity10,Super Vasco f.c,KillerColorado,pura bucha /botafogo,cartola scheuer,Dom Camillo68,Texas Club 2025,Gremiomaniasm,Laranjja Mecannica,Real SCI,Lá do Itaqui,FC Los Castilho,Noah A 10,Tatols Beants F.C,S.E.R. GRILLO,KING LEONN,teves_futsal20 f.c,BORGES ITAQUI F.C.,A Lenda Super Vasco F.c,TEAM LOPES 99,RHANKA DENTY FC25,Lider_Rodada
Rodada 20,70.81,74.41,68.06,70.56,68.11,59.66,70.36,62.56,64.26,41.86,90.10,65.46,69.53,53.96,75.61,73.96,64.91,84.46,53.26,62.96,63.96,50.29,76.96,69.39,85.86,18.81,66.26,71.46,76.06,87.33,69.96,78.93,Paulo Virgili FC

### Organização dos Grupos da Fase 1 da Libertadores e Exportação para Excel

In [55]:
# Dicionário com ID -> Nome do time (gerado anteriormente)
nomes_por_id = {
    29228373: 'seralex',
    18642587: 'Fedato Futebol Clube',
    4229593: 'SUPER VASCÃO F.C',
    18223508: 'Rolo Compressor ZN',

    44574236: 'Analove10 ITAQUI GRANDE!!',
    186283: 'FBC Colorado',
    25751748: 'MauHumor F.C.',
    44810918: 'lsauer fc',

    18421230: 'Gig@ntte',
    25811332: 'SERGRILLO',
    14124559: 'Paulo Virgili FC',
    48498051: 'Pity10',

    13707047: 'Super Vasco f.c',
    36359: 'KillerColorado',
    18661583: 'pura bucha /botafogo', 
    3851966: 'cartola scheuer', 

    20696550: 'Dom Camillo68',  
    1273719: 'Texas Club 2025',
    528730: 'Gremiomaniasm',
    18344271: 'Laranjja Mecannica',

    3246608: 'Real SCI',
    50158297: 'Lá do Itaqui',
    25311459: 'FC Los Castilho',
    49960687: 'Noah A 10',

    212042: 'Tatols Beants F.C',  
    5823700: 'S.E.R. GRILLO',
    13951133: 'KING LEONN',
    335716: 'teves_futsal20 f.c',

    3914981: 'BORGES ITAQUI F.C.', 
    117598: 'A Lenda Super Vasco F.c',  
    479510: 'TEAM LOPES 99',
    29411306: 'RHANKA DENTY FC25'     
}

# Lista com todos os dados que você passou
dados_torneio = [
    # Grupo A
    ("Grupo A", 29228373, "Botafogo", "Gabriel"),
    ("Grupo A", 18642587, "Estudiantes", "Elvis"),
    ("Grupo A", 4229593, "Universidade Católica do Chile", "Camilo"),    
    ("Grupo A", 18223508, "Carabobo", "Júlio Cesar"),    
    # Grupo B
    ("Grupo B", 44574236, "River Plate", "Henrique"),
    ("Grupo B", 186283, "Independiente del Valle", "Ivanildo"),
    ("Grupo B", 25751748, "Universitário", "Lucas"),  # mesmo ID, último prevalece
    ("Grupo B", 44810918, "Barcelona", "Sauer"),
    # Grupo C
    ("Grupo C", 18421230, "Flamengo", "Marllon"),
    ("Grupo C", 25811332, "LDU", "Paulo Augusto"),
    ("Grupo C", 14124559, "Deportivo Táchira", "Rodrigo"),
    ("Grupo C", 48498051, "Central Córdoba", "Ananias"),
    # Grupo D
    ("Grupo D", 13707047, "São Paulo", "Fumaco"),
    ("Grupo D", 36359, "Libertad", "Boka"),
    ("Grupo D", 18661583, "Talleres", "Elemar"),
    ("Grupo D", 3851966, "Alianza Lima", "Fedato"),
    # Grupo E
    ("Grupo E", 20696550, "Racing", "Diego"),
    ("Grupo E", 1273719, "Colo-Colo", "Cassiano"),
    ("Grupo E", 528730, "Fortaleza", "Moodi"),
    ("Grupo E", 18344271, "Bucaramanga", "Márcio"),
    # Grupo F
    ("Grupo F", 3246608, "Atlético Nacional", "Alex"),
    ("Grupo F", 50158297, "Nacional", "Castilho"),
    ("Grupo F", 25311459, "Bahia", "Marquinho"),
    ("Grupo F", 49960687, "Internacional", "Gerônimo"),
    # Grupo G
    ("Grupo G", 212042, "Palmeiras", "Leon"),
    ("Grupo G", 5823700, "Bolívar", "Tatita"),
    ("Grupo G", 13951133, "Sporting Cristal", "Ronaldo"),
    ("Grupo G", 335716, "Cerro Porteño", "Ricardo"),
    # Grupo H
    ("Grupo H", 3914981, "Peñarol", "Roberto"),
    ("Grupo H", 117598, "Olimpia", "André"),
     ("Grupo H", 479510, "Velez Sarsfield", "Fernando"),
    ("Grupo H", 29411306, "San Antônio Bulo Bulo", "Adriano"),   
]

# Criar DataFrame base
df_torneio = pd.DataFrame(dados_torneio, columns=["Grupo", "ID do Time", "Clube Representado", "Participante"])

# Adicionar Nome do Time usando o dicionário
df_torneio["Nome do Time"] = df_torneio["ID do Time"].map(nomes_por_id)

# Adicionar ID no Grupo
df_torneio["ID no Grupo"] = df_torneio.groupby("Grupo").cumcount() + 1
df_torneio["ID no Grupo"] = df_torneio["ID no Grupo"].astype(str) + "_" + df_torneio["Grupo"].str[-1]

# Reorganizar colunas
df_torneio = df_torneio[["Grupo", "ID do Time", "Nome do Time", "Clube Representado", "Participante", "ID no Grupo"]]

df_liberta_grupo_A = df_torneio[df_torneio["Grupo"] == "Grupo A"]
df_liberta_grupo_B = df_torneio[df_torneio["Grupo"] == "Grupo B"]
df_liberta_grupo_C = df_torneio[df_torneio["Grupo"] == "Grupo C"]
df_liberta_grupo_D = df_torneio[df_torneio["Grupo"] == "Grupo D"]
df_liberta_grupo_E = df_torneio[df_torneio["Grupo"] == "Grupo E"]
df_liberta_grupo_F = df_torneio[df_torneio["Grupo"] == "Grupo F"]
df_liberta_grupo_G = df_torneio[df_torneio["Grupo"] == "Grupo G"]
df_liberta_grupo_H = df_torneio[df_torneio["Grupo"] == "Grupo H"]


# Lista de grupos
grupos = {
    "Grupo A": df_liberta_grupo_A,
    "Grupo B": df_liberta_grupo_B,
    "Grupo C": df_liberta_grupo_C,
    "Grupo D": df_liberta_grupo_D,
    "Grupo E": df_liberta_grupo_E,
    "Grupo F": df_liberta_grupo_F,
    "Grupo G": df_liberta_grupo_G,
    "Grupo H": df_liberta_grupo_H,
}

# # Caminho do arquivo
# caminho_excel = "grupos_fase1_libertadores.xlsx"

# # Salvar em Excel com abas separadas
# with pd.ExcelWriter(caminho_excel) as writer:
#     for nome_grupo, df_grupo in grupos.items():
#         df_grupo.to_excel(writer, sheet_name=nome_grupo, index=False)


# Exibir resultado
display(df_liberta_grupo_A)
display(df_liberta_grupo_B)
display(df_liberta_grupo_C)
display(df_liberta_grupo_D)
display(df_liberta_grupo_E)
display(df_liberta_grupo_F)
display(df_liberta_grupo_G)
display(df_liberta_grupo_H)

,Grupo,ID do Time,Nome do Time,Clube Representado,Participante,ID no Grupo
0,Grupo A,29228373,seralex,Botafogo,Gabriel,1_A
1,Grupo A,18642587,Fedato Futebol Clube,Estudiantes,Elvis,2_A
2,Grupo A,4229593,SUPER VASCÃO F.C,Universidade Católica do Chile,Camilo,3_A
3,Grupo A,18223508,Rolo Compressor ZN,Carabobo,Júlio Cesar,4_A

,Grupo,ID do Time,Nome do Time,Clube Representado,Participante,ID no Grupo
4,Grupo B,44574236,Analove10 ITAQUI GRANDE!!,River Plate,Henrique,1_B
5,Grupo B,186283,FBC Colorado,Independiente del Valle,Ivanildo,2_B
6,Grupo B,25751748,MauHumor F.C.,Universitário,Lucas,3_B
7,Grupo B,44810918,lsauer fc,Barcelona,Sauer,4_B

,Grupo,ID do Time,Nome do Time,Clube Representado,Participante,ID no Grupo
8,Grupo C,18421230,Gig@ntte,Flamengo,Marllon,1_C
9,Grupo C,25811332,SERGRILLO,LDU,Paulo Augusto,2_C
10,Grupo C,14124559,Paulo Virgili FC,Deportivo Táchira,Rodrigo,3_C
11,Grupo C,48498051,Pity10,Central Córdoba,Ananias,4_C

,Grupo,ID do Time,Nome do Time,Clube Representado,Participante,ID no Grupo
12,Grupo D,13707047,Super Vasco f.c,São Paulo,Fumaco,1_D
13,Grupo D,36359,KillerColorado,Libertad,Boka,2_D
14,Grupo D,18661583,pura bucha /botafogo,Talleres,Elemar,3_D
15,Grupo D,3851966,cartola scheuer,Alianza Lima,Fedato,4_D

,Grupo,ID do Time,Nome do Time,Clube Representado,Participante,ID no Grupo
16,Grupo E,20696550,Dom Camillo68,Racing,Diego,1_E
17,Grupo E,1273719,Texas Club 2025,Colo-Colo,Cassiano,2_E
18,Grupo E,528730,Gremiomaniasm,Fortaleza,Moodi,3_E
19,Grupo E,18344271,Laranjja Mecannica,Bucaramanga,Márcio,4_E

,Grupo,ID do Time,Nome do Time,Clube Representado,Participante,ID no Grupo
20,Grupo F,3246608,Real SCI,Atlético Nacional,Alex,1_F
21,Grupo F,50158297,Lá do Itaqui,Nacional,Castilho,2_F
22,Grupo F,25311459,FC Los Castilho,Bahia,Marquinho,3_F
23,Grupo F,49960687,Noah A 10,Internacional,Gerônimo,4_F

,Grupo,ID do Time,Nome do Time,Clube Representado,Participante,ID no Grupo
24,Grupo G,212042,Tatols Beants F.C,Palmeiras,Leon,1_G
25,Grupo G,5823700,S.E.R. GRILLO,Bolívar,Tatita,2_G
26,Grupo G,13951133,KING LEONN,Sporting Cristal,Ronaldo,3_G
27,Grupo G,335716,teves_futsal20 f.c,Cerro Porteño,Ricardo,4_G

,Grupo,ID do Time,Nome do Time,Clube Representado,Participante,ID no Grupo
28,Grupo H,3914981,BORGES ITAQUI F.C.,Peñarol,Roberto,1_H
29,Grupo H,117598,A Lenda Super Vasco F.c,Olimpia,André,2_H
30,Grupo H,479510,TEAM LOPES 99,Velez Sarsfield,Fernando,3_H
31,Grupo H,29411306,RHANKA DENTY FC25,San Antônio Bulo Bulo,Adriano,4_H

### Definição dos Confrontos das 6 Rodadas da Fase de Grupos da Libertadores

In [56]:
# Lista dos confrontos da 1ª rodada
confrontos_1a_rodada = [
    # Grupo A
    ("Grupo A", "4_A", "2_A"),
    ("Grupo A", "3_A", "1_A"),

    # Grupo B
    ("Grupo B", "4_B", "2_B"),
    ("Grupo B", "3_B", "1_B"),

    # Grupo C
    ("Grupo C", "4_C", "2_C"),
    ("Grupo C", "3_C", "1_C"),

    # Grupo D
    ("Grupo D", "4_D", "2_D"),
    ("Grupo D", "3_D", "1_D"),

    # Grupo E
    ("Grupo E", "4_E", "2_E"),
    ("Grupo E", "3_E", "1_E"),

    # Grupo F
    ("Grupo F", "3_F", "4_F"),
    ("Grupo F", "1_F", "2_F"),

    # Grupo G
    ("Grupo G", "4_G", "2_G"),
    ("Grupo G", "3_G", "1_G"),

    # Grupo H
    ("Grupo H", "4_H", "2_H"),
    ("Grupo H", "3_H", "1_H"),
]

# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_1a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])

# Junta com df_torneio para buscar dados dos mandantes
df_mandantes = df_torneio.rename(columns={
    "ID no Grupo": "Mandante_ID",
    "Nome do Time": "Mandante_Nome",
    "ID do Time": "Mandante_ID_Time",
    "Clube Representado": "Mandante_Clube",
    "Participante": "Mandante_Participante"
})[["Grupo", "Mandante_ID", "Mandante_Nome", "Mandante_ID_Time", "Mandante_Clube", "Mandante_Participante"]]

# Junta com df_torneio para buscar dados dos visitantes
df_visitantes = df_torneio.rename(columns={
    "ID no Grupo": "Visitante_ID",
    "Nome do Time": "Visitante_Nome",
    "ID do Time": "Visitante_ID_Time",
    "Clube Representado": "Visitante_Clube",
    "Participante": "Visitante_Participante"
})[["Grupo", "Visitante_ID", "Visitante_Nome", "Visitante_ID_Time", "Visitante_Clube", "Visitante_Participante"]]

In [57]:
# Lista dos confrontos da 2ª rodada
confrontos_2a_rodada = [
     # GRUPO A
    ("Grupo A", "1_A", "4_A"),
    ("Grupo A", "2_A", "3_A"),

    # GRUPO B
    ("Grupo B", "1_B", "4_B"),
    ("Grupo B", "2_B", "3_B"),

    # GRUPO C    
    ("Grupo C", "1_C", "4_C"),
    ("Grupo C", "2_C", "3_C"),

    # GRUPO D
    ("Grupo D", "1_D", "4_D"),
    ("Grupo D", "2_D", "3_D"),

    # GRUPO E
    ("Grupo E", "1_E", "4_E"),
    ("Grupo E", "2_E", "3_E"),

    # GRUPO F
    ("Grupo F", "4_F", "1_F"),
    ("Grupo F", "2_F", "3_F"),

    # GRUPO G    
    ("Grupo G", "1_G", "4_G"),
    ("Grupo G", "2_G", "3_G"),

    # GRUPO H
    ("Grupo H", "1_H", "4_H"),
    ("Grupo H", "2_H", "3_H"),
]

confrontos_3a_rodada = [
    # GRUPO A
    ("Grupo A", "4_A", "3_A"),
    ("Grupo A", "2_A", "1_A"),

    # GRUPO B
    ("Grupo B", "4_B", "3_B"),
    ("Grupo B", "2_B", "1_B"),

    # GRUPO C
    ("Grupo C", "4_C", "3_C"),
    ("Grupo C", "2_C", "1_C"),

    # GRUPO D
    ("Grupo D", "4_D", "3_D"),
    ("Grupo D", "2_D", "1_D"),

    # GRUPO E
    ("Grupo E", "4_E", "3_E"),
    ("Grupo E", "2_E", "1_E"),

    # GRUPO F
    ("Grupo F", "4_F", "2_F"),
    ("Grupo F", "3_F", "1_F"),

    # GRUPO G
    ("Grupo G", "4_G", "3_G"),
    ("Grupo G", "2_G", "1_G"),

    # GRUPO H
    ("Grupo H", "4_H", "3_H"),
    ("Grupo H", "2_H", "1_H"),
]

confrontos_4a_rodada = [
    # GRUPO A
    ("Grupo A", "4_A", "1_A"),
    ("Grupo A", "3_A", "2_A"),

    # GRUPO B
    ("Grupo B", "4_B", "1_B"),
    ("Grupo B", "3_B", "2_B"),

    # GRUPO C
    ("Grupo C", "4_C", "1_C"),
    ("Grupo C", "3_C", "2_C"),

    # GRUPO D
    ("Grupo D", "4_D", "1_D"),
    ("Grupo D", "3_D", "2_D"),

    # GRUPO E
    ("Grupo E", "4_E", "1_E"),
    ("Grupo E", "3_E", "2_E"),

    # GRUPO F
    ("Grupo F", "1_F", "4_F"),
    ("Grupo F", "3_F", "2_F"),

    # GRUPO G
    ("Grupo G", "4_G", "1_G"),
    ("Grupo G", "3_G", "2_G"),

    # GRUPO H
    ("Grupo H", "4_H", "1_H"),
    ("Grupo H", "3_H", "2_H"),
]


confrontos_5a_rodada = [
    # GRUPO A
    ("Grupo A", "3_A", "4_A"),
    ("Grupo A", "1_A", "2_A"),

    # GRUPO B
    ("Grupo B", "3_B", "4_B"),
    ("Grupo B", "1_B", "2_B"),

    # GRUPO C
    ("Grupo C", "3_C", "4_C"),
    ("Grupo C", "1_C", "2_C"),

    # GRUPO D
    ("Grupo D", "3_D", "4_D"),
    ("Grupo D", "1_D", "2_D"),

    # GRUPO E
    ("Grupo E", "3_E", "4_E"),
    ("Grupo E", "1_E", "2_E"),

    # GRUPO F
    ("Grupo F", "2_F", "4_F"),
    ("Grupo F", "1_F", "3_F"),

    # GRUPO G
    ("Grupo G", "3_G", "4_G"),
    ("Grupo G", "1_G", "2_G"),

    # GRUPO H
    ("Grupo H", "3_H", "4_H"),
    ("Grupo H", "1_H", "2_H"),
]


confrontos_6a_rodada = [
    # GRUPO A
    ("Grupo A", "1_A", "3_A"),
    ("Grupo A", "2_A", "4_A"),

    # GRUPO B
    ("Grupo B", "1_B", "3_B"),
    ("Grupo B", "2_B", "4_B"),

    # GRUPO C
    ("Grupo C", "1_C", "3_C"),
    ("Grupo C", "2_C", "4_C"),

    # GRUPO D
    ("Grupo D", "1_D", "3_D"),
    ("Grupo D", "2_D", "4_D"),

    # GRUPO E
    ("Grupo E", "1_E", "3_E"),
    ("Grupo E", "2_E", "4_E"),

    # GRUPO F
    ("Grupo F", "2_F", "1_F"),
    ("Grupo F", "4_F", "3_F"),

    # GRUPO G
    ("Grupo G", "1_G", "3_G"),
    ("Grupo G", "2_G", "4_G"),

    # GRUPO H
    ("Grupo H", "1_H", "3_H"),
    ("Grupo H", "2_H", "4_H"),
]

### Geração das Tabelas de Jogos das 6 Rodadas da Fase de Grupos

In [58]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_1a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos["Rodada"] = 20  # <<< ADICIONAR ESTA LINHA
df_rodada_1 = df_confrontos.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_1 = df_rodada_1.merge(df_visitantes, on=["Grupo", "Visitante_ID"])


# Transformar em DataFrame
df_confrontos_2 = pd.DataFrame(confrontos_2a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_2["Rodada"] = 21
df_rodada_2 = df_confrontos_2.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_2 = df_rodada_2.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Transformar em DataFrame
df_confrontos_3 = pd.DataFrame(confrontos_3a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_3["Rodada"] = 22
df_rodada_3 = df_confrontos_3.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_3 = df_rodada_3.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Criar DataFrame da 4ª rodada
df_confrontos_4 = pd.DataFrame(confrontos_4a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_4["Rodada"] = 23
df_rodada_4 = df_confrontos_4.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_4 = df_rodada_4.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Quinta rodada
df_confrontos_5 = pd.DataFrame(confrontos_5a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_5["Rodada"] = 24
df_rodada_5 = df_confrontos_5.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_5 = df_rodada_5.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Sexta rodada
df_confrontos_6 = pd.DataFrame(confrontos_6a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_6["Rodada"] = 25
df_rodada_6 = df_confrontos_6.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_6 = df_rodada_6.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

### Rodadas da Fase 1 da Libertadores

### Consolidação dos Confrontos da Fase 1 e Exportação para Excel

In [59]:
df_rodadas = pd.concat([
    df_rodada_1,
    df_rodada_2,
    df_rodada_3,
    df_rodada_4,
    df_rodada_5,
    df_rodada_6
], ignore_index=True)

df_rodadas.to_excel("confrontos_fase_1_libertadores.xlsx", index=False)

# Exibir os confrontos da fase 1
display(df_rodadas.head())

,Grupo,Mandante_ID,Visitante_ID,Rodada,Mandante_Nome,Mandante_ID_Time,Mandante_Clube,Mandante_Participante,Visitante_Nome,Visitante_ID_Time,Visitante_Clube,Visitante_Participante
0,Grupo A,4_A,2_A,20,Rolo Compressor ZN,18223508,Carabobo,Júlio Cesar,Fedato Futebol Clube,18642587,Estudiantes,Elvis
1,Grupo A,3_A,1_A,20,SUPER VASCÃO F.C,4229593,Universidade Católica do Chile,Camilo,seralex,29228373,Botafogo,Gabriel
2,Grupo B,4_B,2_B,20,lsauer fc,44810918,Barcelona,Sauer,FBC Colorado,186283,Independiente del Valle,Ivanildo
3,Grupo B,3_B,1_B,20,MauHumor F.C.,25751748,Universitário,Lucas,Analove10 ITAQUI GRANDE!!,44574236,River Plate,Henrique
4,Grupo C,4_C,2_C,20,Pity10,48498051,Central Córdoba,Ananias,SERGRILLO,25811332,LDU,Paulo Augusto

### Conversão dos Confrontos em JSON e Exportação para Uso no Front-End

In [60]:
# Criar lista de dicionários no formato desejado
confrontos_js = []

for _, row in df_rodadas.iterrows():
    confronto = {
        "grupo": row["Grupo"],
        "rodada": int(row["Rodada"]),
        "mandante": {
            "id": int(row["Mandante_ID_Time"]),
            "nome": row["Mandante_Nome"],
            "clube": row["Mandante_Clube"],
            "participante": row["Mandante_Participante"]
        },
        "visitante": {
            "id": int(row["Visitante_ID_Time"]),
            "nome": row["Visitante_Nome"],
            "clube": row["Visitante_Clube"],
            "participante": row["Visitante_Participante"]
        }
    }
    confrontos_js.append(confronto)

# Converter para JSON formatado
json_str = json.dumps(confrontos_js, indent=2, ensure_ascii=False)

# Salvar como arquivo JS com uma variável global
with open("confrontos_fase1_libertadores.js", "w", encoding="utf-8") as f:
    f.write("const confrontosFase1 = ")
    f.write(json_str)
    f.write(";")

In [61]:
def exibir_confrontos(df_rodadas, rodada=None, grupo=None):
    """
    Filtra e exibe os confrontos por rodada e/ou grupo.
    
    Parâmetros:
    - df_rodadas: DataFrame com todos os confrontos
    - rodada: número da rodada (int ou None para todas)
    - grupo: nome do grupo (str ou None para todos)
    
    Retorna:
    - DataFrame filtrado com as colunas relevantes
    """
    colunas = ["Rodada", "Grupo", "Mandante_Clube", "Visitante_Clube", "Mandante_Nome", "Visitante_Nome", "Mandante_Participante", "Visitante_Participante"]
    df_filtrado = df_rodadas.copy()

    df_filtrado["Rodada"] = df_filtrado["Rodada"].astype(str) + "ª Rodada"    

    if rodada is not None:
        df_filtrado = df_filtrado[df_filtrado["Rodada"] == rodada]

    if grupo is not None:
        df_filtrado = df_filtrado[df_filtrado["Grupo"] == grupo]

    return df_filtrado[colunas].sort_values(by=["Grupo", "Rodada"])

In [62]:
# # Exibir todos os confrontos da rodada 1
# display(exibir_confrontos(df_rodadas, rodada=1))

# Exibir todos os confrontos do Grupo C
display(exibir_confrontos(df_rodadas, grupo="Grupo H").head())

# # Exibir confrontos do Grupo A na rodada 2
# display(exibir_confrontos(df_rodadas, rodada=1, grupo="Grupo A"))

,Rodada,Grupo,Mandante_Clube,Visitante_Clube,Mandante_Nome,Visitante_Nome,Mandante_Participante,Visitante_Participante
14,20ª Rodada,Grupo H,San Antônio Bulo Bulo,Olimpia,RHANKA DENTY FC25,A Lenda Super Vasco F.c,Adriano,André
15,20ª Rodada,Grupo H,Velez Sarsfield,Peñarol,TEAM LOPES 99,BORGES ITAQUI F.C.,Fernando,Roberto
30,21ª Rodada,Grupo H,Peñarol,San Antônio Bulo Bulo,BORGES ITAQUI F.C.,RHANKA DENTY FC25,Roberto,Adriano
31,21ª Rodada,Grupo H,Olimpia,Velez Sarsfield,A Lenda Super Vasco F.c,TEAM LOPES 99,André,Fernando
46,22ª Rodada,Grupo H,San Antônio Bulo Bulo,Velez Sarsfield,RHANKA DENTY FC25,TEAM LOPES 99,Adriano,Fernando

### Coleta e Estruturação das Pontuações por Rodada dos Times do Campeonato

In [63]:
# # ===============================
# #  TABELA DO TURNO + PARCIAIS DA RODADA EM ANDAMENTO
# # ===============================
# import time
# import json
# import requests
# import pandas as pd

# # ----- CONFIG DO TURNO -----
# TURNO_INICIO   = 20   # primeira rodada do turno/competição
# TOTAL_RODADAS  = 25   # última rodada do turno/competição (inclusive)

# # ----- AJUSTES DE REDE -----
# CAP_MULT       = 1.5  # multiplicador do capitão (ajuste se sua regra for x2)
# PER_REQ_SLEEP  = 1.0  # pausa entre requests (evitar 429/403)
# MAX_RETRIES    = 3

# # exceptions da lib cartolafc (fallback genérico se não houver)
# try:
#     from cartolafc import CartolaFCError as _CartolaErr
# except Exception:
#     _CartolaErr = Exception

# # Sessão HTTP
# sess = requests.Session()
# sess.headers.update({
#     "User-Agent": "Mozilla/5.0",
#     "Accept": "application/json, text/plain, */*",
# })

# # -------------------------------
# # HELPERS HTTP / API
# # -------------------------------
# def http_status_e_rodada():
#     r = sess.get("https://api.cartola.globo.com/mercado/status", timeout=20)
#     r.raise_for_status()
#     d = r.json()
#     return int(d.get("status_mercado", 0)), int(d.get("rodada_atual", 0))

# def get_parciais():
#     r = sess.get("https://api.cartola.globo.com/atletas/pontuados", timeout=30)
#     r.raise_for_status()
#     d = r.json()
#     return d.get("atletas", {})

# def get_escalacao_por_rodada_http_dbg(time_id: int, rodada: int, max_retries=MAX_RETRIES):
#     """
#     Busca escalação travada na rodada; se não vier, cai para 'última escalação conhecida'.
#     Retorna: (atletas:list, capitao_id:int|None, url_usada:str|None, http_status:int|None, motivo:str|None)
#     """
#     urls = [
#         f"https://api.cartola.globo.com/time/id/{time_id}/{rodada}",
#         f"https://api.cartola.globo.com/time/id/{time_id}",
#     ]
#     last_err = None
#     for url in urls:
#         wait = 0.7
#         for _ in range(max_retries):
#             try:
#                 r = sess.get(url, timeout=30)
#                 st = r.status_code
#                 if st == 200:
#                     d = r.json()
#                     atletas = d.get("atletas") or []
#                     return atletas, d.get("capitao_id"), url, st, (None if atletas else "sem_atletas")
#                 if st in (403, 429, 503):
#                     time.sleep(wait); wait *= 1.8; continue
#                 last_err = f"status={st}"
#                 break
#             except Exception as e:
#                 last_err = f"exc:{type(e).__name__}"
#                 time.sleep(wait); wait *= 1.8
#     return [], None, None, None, last_err

# # -------------------------------
# # DF BASE DO TURNO (rodadas concluídas)
# # -------------------------------
# def campeonato_comecou(api, ids_times):
#     """
#     Considera que o 2º turno começou se:
#       - mercado indica rodada_atual >= TURNO_INICIO E
#       - há ao menos uma pontuação não-nula na TURNO_INICIO para algum time.
#     """
#     try:
#         rodada_atual = getattr(api.mercado(), "rodada_atual", None)
#     except _CartolaErr:
#         rodada_atual = None

#     if rodada_atual is None or rodada_atual < TURNO_INICIO:
#         return False

#     for time_id in ids_times.values():
#         try:
#             p = api.time(time_id=int(time_id), rodada=TURNO_INICIO).ultima_pontuacao
#             if p is not None:
#                 return True
#         except _CartolaErr:
#             continue
#     return False

# def obter_pontuacao_por_rodada(api, time_id, rodada_atual):
#     """
#     Busca apenas rodadas concluídas: [TURNO_INICIO, rodada_atual-1].
#     """
#     pontuacoes = {}
#     fim = min(max(rodada_atual, TURNO_INICIO), TOTAL_RODADAS + 1)  # exclusivo
#     for rodada in range(TURNO_INICIO, fim):
#         try:
#             t = api.time(time_id=int(time_id), rodada=rodada)
#             pontuacoes[rodada] = t.ultima_pontuacao
#         except _CartolaErr as e:
#             print(f"⚠️ Erro ao acessar rodada {rodada} (time {time_id}): {e}")
#             pontuacoes[rodada] = None
#     return pontuacoes

# def gerar_df_pontuacoes(api, ids_times):
#     try:
#         rodada_atual = api.mercado().rodada_atual
#     except _CartolaErr:
#         rodada_atual = TURNO_INICIO

#     colunas_turno = [f"Rodada {i}" for i in range(TURNO_INICIO, TOTAL_RODADAS + 1)]

#     # Se ainda não há rodada do turno concluída → placeholders 0
#     if not campeonato_comecou(api, ids_times):
#         print("📌 Turno ainda sem rodadas concluídas. Criando estrutura com placeholders (0).")
#         df = pd.DataFrame(0.0, index=list(ids_times.keys()), columns=colunas_turno)
#         return df

#     # Monta com rodadas encerradas
#     dados = {}
#     for nome, time_id in ids_times.items():
#         pontuacoes = obter_pontuacao_por_rodada(api, time_id, rodada_atual)
#         s = pd.Series({f"Rodada {k}": v for k, v in pontuacoes.items()})
#         dados[nome] = s

#     df = pd.DataFrame.from_dict(dados, orient="index")
#     df = df.reindex(columns=colunas_turno, fill_value=0.0)
#     df = df.apply(pd.to_numeric, errors="coerce").fillna(0.0)
#     return df

# # -------------------------------
# # INJETAR PARCIAIS DA RODADA EM ANDAMENTO NO DF
# # -------------------------------
# def aplicar_parciais_turno(api, df_pontuacoes, ids_times):
#     status_http, rodada_http = http_status_e_rodada()
#     try:
#         rodada_api = api.mercado().rodada_atual
#     except _CartolaErr:
#         rodada_api = rodada_http

#     # rodada alvo = rodada em andamento, mas limitada ao intervalo do turno
#     rodada_alvo = max(TURNO_INICIO, min(TOTAL_RODADAS, rodada_http))
#     print(f"Status HTTP={status_http} | rodada_http={rodada_http} | rodada_api={rodada_api} | usando rodada_alvo={rodada_alvo}")

#     col_atual = f"Rodada {rodada_alvo}"
#     # Garante coluna presente
#     if col_atual not in df_pontuacoes.columns:
#         todas = [f"Rodada {i}" for i in range(TURNO_INICIO, TOTAL_RODADAS + 1)]
#         df_pontuacoes = df_pontuacoes.reindex(columns=todas, fill_value=0.0)

#     # Remove marcador antes de escrever
#     if "Lider_Rodada" in df_pontuacoes.index:
#         df_pontuacoes = df_pontuacoes.drop(index="Lider_Rodada", errors="ignore")

#     if status_http != 2 or rodada_http < TURNO_INICIO:
#         print("ℹ️ Rodada não está em andamento para este turno — sem parciais.")
#         return df_pontuacoes, None, None

#     parciais_map = get_parciais()
#     if not parciais_map:
#         print("⚠️ Endpoint de parciais vazio agora. Tente novamente em instantes.")
#         return df_pontuacoes, rodada_alvo, []

#     atualizados, relatorio = 0, []
#     for nome_time, time_id in ids_times.items():
#         try:
#             time_id = int(time_id)
#             atletas, capitao_id, url_usada, http_st, motivo = get_escalacao_por_rodada_http_dbg(time_id, rodada_alvo)

#             # fallback via lib quando vier sem atletas
#             if not atletas and (motivo in ("sem_atletas", "sem_escalacao", None)):
#                 try:
#                     t = api.time(time_id=time_id, rodada=rodada_alvo)
#                     atletas = [{"atleta_id": a.atleta_id} for a in (t.atletas or [])]
#                     if not capitao_id:
#                         capitao_id = getattr(t, "capitao_id", None)
#                     http_st = http_st or 200
#                 except Exception:
#                     pass

#             if not atletas:
#                 relatorio.append((nome_time, http_st, 0, 0, 0.0, motivo or "sem_escalacao"))
#                 time.sleep(PER_REQ_SLEEP)
#                 continue

#             total, matched = 0.0, 0
#             for a in atletas:
#                 aid = str(a.get("atleta_id"))
#                 if aid in parciais_map:
#                     p = float(parciais_map[aid].get("pontuacao", 0) or 0)
#                     if capitao_id and a.get("atleta_id") == capitao_id:
#                         p *= CAP_MULT
#                     total += p
#                     matched += 1

#             df_pontuacoes.loc[nome_time, col_atual] = round(total, 2)
#             atualizados += 1
#             relatorio.append((nome_time, http_st or 200, len(atletas), matched, round(total, 2), "ok"))
#             time.sleep(PER_REQ_SLEEP)
#         except Exception as e:
#             relatorio.append((nome_time, None, 0, 0, 0.0, f"erro:{type(e).__name__}"))

#     print(f"✅ Times atualizados: {atualizados} / {len(ids_times)} na coluna '{col_atual}'")
#     for nm, st, n_atl, n_ok, tot, mot in relatorio[:12]:
#         print(f" • {nm:25} | HTTP={st} | atletas={n_atl:2d} | com_parcial={n_ok:2d} | total={tot:6.2f} | {mot}")

#     # Recalcula "Lider_Rodada" apenas se houver alguma soma > 0 em pelo menos 1 rodada
#     df_num = df_pontuacoes.apply(pd.to_numeric, errors="coerce")
#     if (df_num.sum().sum() or 0) != 0:
#         lider = df_num.idxmax(axis=0)
#         df_pontuacoes.loc["Lider_Rodada"] = lider

#     # Normaliza tipos
#     df_pontuacoes = df_pontuacoes.apply(pd.to_numeric, errors="coerce").fillna(0.0)
#     return df_pontuacoes, rodada_alvo, relatorio

# # -------------------------------
# # USO: montar DF do turno e injetar parciais
# # -------------------------------
# # ids_times = {"Nome do Time": 123456, ...}  # já existente no seu projeto
# df_pontuacoes = gerar_df_pontuacoes(api, ids_times)
# df_pontuacoes, rodada_alvo, relatorio = aplicar_parciais_turno(api, df_pontuacoes, ids_times)

# # Visualização (opcional)
# try:
#     display(df_pontuacoes.T)
# except Exception:
#     print(df_pontuacoes.T.head(20))

In [64]:
# TURNO_INICIO = 20
# TOTAL_RODADAS = 25

# # Tente usar a exceção específica; senão, caia para Exception
# try:
#     from cartolafc import CartolaFCError as _CartolaErr
# except Exception:
#     _CartolaErr = Exception

# def campeonato_comecou(api, ids_times):
#     """
#     Considera que o 2º turno começou se:
#       - o mercado indica rodada_atual >= 20 E
#       - há pelo menos uma pontuação não-nula na rodada 20 para algum time.
#     """
#     try:
#         rodada_atual = getattr(api.mercado(), "rodada_atual", None)
#     except _CartolaErr:
#         rodada_atual = None

#     if rodada_atual is None or rodada_atual < TURNO_INICIO:
#         return False

#     for time_id in ids_times.values():
#         try:
#             p = api.time(time_id=time_id, rodada=TURNO_INICIO).ultima_pontuacao
#             if p is not None:
#                 return True
#         except _CartolaErr:
#             continue
#     return False

# def obter_pontuacao_por_rodada(api, time_id, rodada_atual):
#     """
#     Busca apenas rodadas concluídas: [20, rodada_atual-1].
#     """
#     pontuacoes = {}
#     # fim exclusivo; para parar em rodada_atual-1 use range(..., rodada_atual)
#     fim = min(max(rodada_atual, TURNO_INICIO), TOTAL_RODADAS + 1)
#     for rodada in range(TURNO_INICIO, fim):
#         try:
#             time_r = api.time(time_id=time_id, rodada=rodada)
#             pontuacoes[rodada] = time_r.ultima_pontuacao
#         except _CartolaErr as e:
#             print(f"⚠️ Erro ao acessar rodada {rodada} (time {time_id}): {e}")
#             pontuacoes[rodada] = None
#     return pontuacoes

# def gerar_df_pontuacoes(api, ids_times):
#     try:
#         rodada_atual = api.mercado().rodada_atual
#     except _CartolaErr:
#         # fallback seguro se a API falhar
#         rodada_atual = TURNO_INICIO

#     colunas_turno = [f"Rodada {i}" for i in range(TURNO_INICIO, TOTAL_RODADAS + 1)]

#     # Caso o 2º turno ainda não tenha começado (sem pontuações na R20)
#     if not campeonato_comecou(api, ids_times):
#         print("📌 2º Turno ainda não começou. Criando estrutura com placeholders (0).")
#         df = pd.DataFrame(0, index=list(ids_times.keys()), columns=colunas_turno)
#         return df

#     # Há ao menos uma pontuação na R20 → montar com rodadas concluídas
#     dados = {}
#     for nome, time_id in ids_times.items():
#         pontuacoes = obter_pontuacao_por_rodada(api, time_id, rodada_atual)
#         # Converte para Series com índice "Rodada N"
#         s = pd.Series({f"Rodada {k}": v for k, v in pontuacoes.items()})
#         dados[nome] = s

#     # DataFrame com as rodadas já buscadas (pode estar vazio se rodada_atual==20)
#     df = pd.DataFrame.from_dict(dados, orient="index")

#     # Garante TODAS as colunas do 2º turno, preenchendo faltantes com 0
#     df = df.reindex(columns=colunas_turno, fill_value=0)

#     # Calcula "Lider_Rodada" somente se houver pelo menos uma rodada com algum valor não-nulo
#     colunas_com_dados = [c for c in colunas_turno if df[c].notna().any()]
#     if len(colunas_com_dados) > 0 and df[colunas_com_dados].astype(float).sum().sum() != 0:
#         df.loc['Lider_Rodada'] = df[colunas_com_dados].idxmax(axis=0)
#     # Caso contrário, não cria a linha de líder (evita líder "aleatório" com tudo 0)

#     return df

# # === Exemplo de uso ===
# # ids_times = {v: k for k, v in nomes_por_id.items()}  # índice = nome do time
# df_pontuacoes = gerar_df_pontuacoes(api, ids_times)

# # Visualização como você já faz
# display(df_pontuacoes.T)

In [65]:
# def campeonato_comecou(api, ids_times):
#     """Verifica se o campeonato já começou observando a pontuação na 1ª rodada."""
#     for time_id in ids_times.values():
#         try:
#             pontuacao = api.time(time_id=time_id, rodada=20).ultima_pontuacao
#             if pontuacao is not None:
#                 return True
#         except cartolafc.errors.CartolaFCError:
#             continue
#     return False

# def obter_pontuacao_por_rodada(api, time_id, rodada_atual):
#     """Obtém a pontuação do time em cada rodada até a rodada atual."""
#     pontuacoes = {}
#     for rodada in range(20, rodada_atual):
#         try:
#             time_rodada = api.time(time_id=time_id, rodada=rodada)
#             pontuacoes[rodada] = time_rodada.ultima_pontuacao
#         except cartolafc.errors.CartolaFCError as e:
#             print(f"Erro ao acessar pontuação da rodada {rodada} para o time {time_id}: {e}")
#             pontuacoes[rodada] = None
#     return pontuacoes

# def gerar_df_pontuacoes(api, ids_times):
#     rodada_atual = api.mercado().rodada_atual
#     total_rodadas = 38

#     if not campeonato_comecou(api, ids_times):
#         print("📌 O campeonato ainda não começou. Criando estrutura com placeholders.")
#         df = pd.DataFrame(index=ids_times.keys(), columns=[f'Rodada {i}' for i in range(20, total_rodadas + 1)])
#         df[:] = 0
#     else:
#         df = pd.DataFrame()
#         for nome, time_id in ids_times.items():
#             pontuacoes = obter_pontuacao_por_rodada(api, time_id, rodada_atual)
#             df[nome] = pd.Series(pontuacoes)
#         df = df.transpose()
#         df.columns = [f'Rodada {i}' for i in range(20, rodada_atual)]
#         df.loc['Lider_Rodada'] = df.idxmax()
    
#     return df

In [66]:
# ids_times = {v: k for k, v in nomes_por_id.items()}

# df_pontuacoes = gerar_df_pontuacoes(api, ids_times)
# display(df_pontuacoes.T)

### Cálculo da Classificação por Grupo com Base nas Pontuações do Cartola

In [68]:
TURNO_INICIO = 20  # início do 2º turno: colunas "Rodada 20..38"

def _coluna_rodada_existente(df_pontuacoes_times, rodada_rel, turno_inicio=TURNO_INICIO):
    """
    Resolve a coluna da rodada, priorizando 2º turno:
      1) "Rodada {turno_inicio - 1 + rodada_rel}"  -> ex.: 1 → 20, 2 → 21
      2) "Rodada {rodada_rel}"                     -> fallback (caso só exista a do 1º turno)
    Retorna o nome encontrado ou None.
    """
    # tenta primeiro a coluna “real” do 2º turno
    cand2 = f"Rodada {turno_inicio - 1 + int(rodada_rel)}"
    if cand2 in df_pontuacoes_times.columns:
        return cand2

    # fallback: coluna literal (só use se a do 2º turno não existir)
    cand1 = f"Rodada {int(rodada_rel)}"
    if cand1 in df_pontuacoes_times.columns:
        return cand1

    return None


def classificacao_por_grupo(df_rodadas, df_pontuacoes, turno_inicio=TURNO_INICIO):
    """
    Classificação dos grupos com base nos confrontos e nas pontuações do Cartola.
    Suporta 2º turno (colunas Rodada 20..38) mesmo que o dataframe de jogos use Rodada 1..N.
    Retorna:
      - df_resultado (classificação geral)
      - df_resultado_por_grupo (dict por grupo)
    """
    # Remove linha auxiliar se existir e normaliza chaves
    df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore').copy()
    if df_pontuacoes_times.index.dtype != "object":
        df_pontuacoes_times.index = df_pontuacoes_times.index.astype(str)
    df_pontuacoes_times.index = df_pontuacoes_times.index.str.strip()
    df_pontuacoes_times.columns = [str(c).strip() for c in df_pontuacoes_times.columns]

    estatisticas = {}
    times_por_grupo = {}

    for _, confronto in df_rodadas.iterrows():
        try:
            rodada_rel = int(confronto["Rodada"])
        except Exception:
            continue

        mandante  = str(confronto["Mandante_Nome"]).strip()
        visitante = str(confronto["Visitante_Nome"]).strip()
        grupo     = str(confronto.get("Grupo", "Série")).strip() or "Série"

        times_por_grupo.setdefault(grupo, set()).update([mandante, visitante])

        # time precisa existir no DF de pontuações
        if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
            continue

        coluna_rodada = _coluna_rodada_existente(df_pontuacoes_times, rodada_rel, turno_inicio)
        if coluna_rodada is None:
            # ainda não há pontos (ou coluna) para esta rodada
            continue

        pm_raw = df_pontuacoes_times.at[mandante, coluna_rodada]
        pv_raw = df_pontuacoes_times.at[visitante, coluna_rodada]

        # Ignora só se for NaN; 0 é válido
        if pd.isna(pm_raw) or pd.isna(pv_raw):
            continue

        # Converte para número (evita comparar strings)
        try:
            pm = float(pm_raw)
            pv = float(pv_raw)
        except Exception:
            continue

        # Inicializa estruturas do grupo/time
        if grupo not in estatisticas:
            estatisticas[grupo] = {}
        for t in (mandante, visitante):
            estatisticas[grupo].setdefault(t, {
                "Pontos": 0, "Vitórias": 0, "Empates": 0, "Derrotas": 0,
                "Total_Cartola": 0.0, "Cartola_Sofrido": 0.0
            })

        # Acumula “gols-cartola”
        estatisticas[grupo][mandante]["Total_Cartola"]   += pm
        estatisticas[grupo][mandante]["Cartola_Sofrido"] += pv
        estatisticas[grupo][visitante]["Total_Cartola"]  += pv
        estatisticas[grupo][visitante]["Cartola_Sofrido"]+= pm

        # Resultado em pontos
        if pm > pv:
            estatisticas[grupo][mandante]["Pontos"]   += 3
            estatisticas[grupo][mandante]["Vitórias"] += 1
            estatisticas[grupo][visitante]["Derrotas"]+= 1
        elif pm < pv:
            estatisticas[grupo][visitante]["Pontos"]   += 3
            estatisticas[grupo][visitante]["Vitórias"] += 1
            estatisticas[grupo][mandante]["Derrotas"]  += 1
        else:
            estatisticas[grupo][mandante]["Pontos"]   += 1
            estatisticas[grupo][visitante]["Pontos"]  += 1
            estatisticas[grupo][mandante]["Empates"]  += 1
            estatisticas[grupo][visitante]["Empates"] += 1

    # Montagem do DataFrame (com placeholders zerados se nada foi computado)
    frames = []
    if estatisticas:
        for grupo, times in estatisticas.items():
            df_g = pd.DataFrame({
                "Grupo": grupo,
                "Nome do Time": list(times.keys()),
                "Pontos": [s["Pontos"] for s in times.values()],
                "Vitórias": [s["Vitórias"] for s in times.values()],
                "Empates": [s["Empates"] for s in times.values()],
                "Derrotas": [s["Derrotas"] for s in times.values()],
                "Total Cartola": [s["Total_Cartola"] for s in times.values()],
                "Cartola Sofrido": [s["Cartola_Sofrido"] for s in times.values()],
            })
            df_g["Saldo Cartola"] = df_g["Total Cartola"] - df_g["Cartola Sofrido"]
            frames.append(df_g)
    else:
        for grupo, times in times_por_grupo.items():
            nomes = sorted(t for t in times if t in df_pontuacoes_times.index)
            if not nomes: 
                continue
            df_g = pd.DataFrame({
                "Grupo": grupo,
                "Nome do Time": nomes,
                "Pontos": 0, "Vitórias": 0, "Empates": 0, "Derrotas": 0,
                "Total Cartola": 0.0, "Cartola Sofrido": 0.0
            })
            df_g["Saldo Cartola"] = 0.0
            frames.append(df_g)

    if frames:
        df_resultado = pd.concat(frames, ignore_index=True)
        # Ordenação e posição
        df_resultado = df_resultado.sort_values(
            by=["Grupo", "Pontos", "Vitórias", "Total Cartola", "Saldo Cartola", "Nome do Time"],
            ascending=[True, False, False, False, False, True]
        ).reset_index(drop=True)
        df_resultado["Posição"] = df_resultado.groupby("Grupo").cumcount() + 1
    else:
        df_resultado = pd.DataFrame(columns=[
            "Grupo","Nome do Time","Pontos","Vitórias","Empates","Derrotas",
            "Total Cartola","Cartola Sofrido","Saldo Cartola","Posição"
        ])

    df_resultado_por_grupo = {
        g: df_resultado[df_resultado["Grupo"] == g].reset_index(drop=True)
        for g in df_resultado["Grupo"].unique()
    }

    return df_resultado, df_resultado_por_grupo

In [69]:
# TURNO_INICIO = 20  # início do 2º turno: colunas "Rodada 20..38"

# def _coluna_rodada_existente(df_pontuacoes_times, rodada_rel, turno_inicio=TURNO_INICIO):
#     """
#     Tenta resolver o nome da coluna da rodada:
#     1) "Rodada {rodada_rel}" (ex.: 1..6/…)
#     2) "Rodada {turno_inicio - 1 + rodada_rel}" (ex.: 20..)
#     Retorna o nome encontrado ou None.
#     """
#     cand1 = f"Rodada {rodada_rel}"
#     if cand1 in df_pontuacoes_times.columns:
#         return cand1
#     cand2 = f"Rodada {turno_inicio - 1 + rodada_rel}"
#     if cand2 in df_pontuacoes_times.columns:
#         return cand2
#     return None

# def classificacao_por_grupo(df_rodadas, df_pontuacoes, turno_inicio=TURNO_INICIO):
#     """
#     Classificação dos grupos com base nos confrontos e nas pontuações do Cartola.
#     Suporta 2º turno (colunas Rodada 20..38) mesmo que o dataframe de jogos use Rodada 1..N.
#     Retorna:
#       - df_resultado (classificação geral)
#       - df_resultado_por_grupo (dict por grupo)
#     """
#     # Remove linha auxiliar se existir
#     df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')

#     estatisticas = {}
#     # Também vamos coletar os times por grupo para montar placeholders se necessário
#     times_por_grupo = {}

#     for _, confronto in df_rodadas.iterrows():
#         rodada_rel = int(confronto["Rodada"])
#         mandante   = confronto["Mandante_Nome"]
#         visitante  = confronto["Visitante_Nome"]
#         grupo      = confronto["Grupo"]

#         times_por_grupo.setdefault(grupo, set()).update([mandante, visitante])

#         # Garante que os times existem no índice de df_pontuacoes
#         if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
#             continue

#         coluna_rodada = _coluna_rodada_existente(df_pontuacoes_times, rodada_rel, turno_inicio)
#         if coluna_rodada is None:
#             # ainda não há a coluna desta rodada (ex.: antes de começar)
#             continue

#         pontos_mandante  = df_pontuacoes_times.at[mandante, coluna_rodada]
#         pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

#         # Ignora apenas se for NaN; 0 é válido
#         if pd.isna(pontos_mandante) or pd.isna(pontos_visitante):
#             continue

#         # Inicializa estruturas
#         if grupo not in estatisticas:
#             estatisticas[grupo] = {}
#         for time in [mandante, visitante]:
#             estatisticas[grupo].setdefault(time, {
#                 "Pontos": 0, "Vitórias": 0, "Empates": 0, "Derrotas": 0,
#                 "Total_Cartola": 0.0, "Cartola_Sofrido": 0.0
#             })

#         # Acumula “gols-cartola”
#         estatisticas[grupo][mandante]["Total_Cartola"]  += float(pontos_mandante)
#         estatisticas[grupo][mandante]["Cartola_Sofrido"]+= float(pontos_visitante)
#         estatisticas[grupo][visitante]["Total_Cartola"] += float(pontos_visitante)
#         estatisticas[grupo][visitante]["Cartola_Sofrido"]+= float(pontos_mandante)

#         # Resultado em pontos
#         if pontos_mandante > pontos_visitante:
#             estatisticas[grupo][mandante]["Pontos"]   += 3
#             estatisticas[grupo][mandante]["Vitórias"] += 1
#             estatisticas[grupo][visitante]["Derrotas"]+= 1
#         elif pontos_mandante < pontos_visitante:
#             estatisticas[grupo][visitante]["Pontos"]   += 3
#             estatisticas[grupo][visitante]["Vitórias"] += 1
#             estatisticas[grupo][mandante]["Derrotas"]  += 1
#         else:
#             estatisticas[grupo][mandante]["Pontos"]   += 1
#             estatisticas[grupo][visitante]["Pontos"]  += 1
#             estatisticas[grupo][mandante]["Empates"]  += 1
#             estatisticas[grupo][visitante]["Empates"] += 1

#     # Se ainda não houve nenhum jogo computável, criamos uma tabela zerada por grupo
#     if not estatisticas:
#         # monta DataFrame zerado, determinístico (ordena nomes)
#         frames = []
#         for grupo, times in times_por_grupo.items():
#             times_ordenados = sorted(t for t in times if t in df_pontuacoes_times.index)
#             if not times_ordenados:
#                 continue
#             df_zero = pd.DataFrame({
#                 "Grupo": grupo,
#                 "Nome do Time": times_ordenados,
#                 "Pontos": 0, "Vitórias": 0, "Empates": 0, "Derrotas": 0,
#                 "Total Cartola": 0.0, "Cartola Sofrido": 0.0
#             })
#             df_zero["Saldo Cartola"] = df_zero["Total Cartola"] - df_zero["Cartola Sofrido"]
#             frames.append(df_zero)

#         if frames:
#             df_resultado = pd.concat(frames, ignore_index=True)
#         else:
#             # fallback: totalmente vazio (sem times), mas com colunas definidas
#             df_resultado = pd.DataFrame(columns=[
#                 "Grupo","Nome do Time","Pontos","Vitórias","Empates","Derrotas",
#                 "Total Cartola","Cartola Sofrido","Saldo Cartola"
#             ])
#     else:
#         # Monta DataFrame a partir das estatísticas computadas
#         df_resultado = pd.concat([
#             pd.DataFrame({
#                 "Grupo": grupo,
#                 "Nome do Time": list(times.keys()),
#                 "Pontos": [s["Pontos"] for s in times.values()],
#                 "Vitórias": [s["Vitórias"] for s in times.values()],
#                 "Empates": [s["Empates"] for s in times.values()],
#                 "Derrotas": [s["Derrotas"] for s in times.values()],
#                 "Total Cartola": [s["Total_Cartola"] for s in times.values()],
#                 "Cartola Sofrido": [s["Cartola_Sofrido"] for s in times.values()],
#                 "Saldo Cartola": [s["Total_Cartola"] - s["Cartola_Sofrido"] for s in times.values()]
#             })
#             for grupo, times in estatisticas.items()
#         ], ignore_index=True)

#     # Ordenação e posição
#     if not df_resultado.empty:
#         df_resultado = df_resultado.sort_values(
#             by=["Grupo", "Pontos", "Vitórias", "Total Cartola", "Saldo Cartola", "Nome do Time"],
#             ascending=[True, False, False, False, False, True]
#         )
#         df_resultado["Posição"] = df_resultado.groupby("Grupo").cumcount() + 1

#     df_resultado_por_grupo = {
#         g: df_resultado[df_resultado["Grupo"] == g].reset_index(drop=True)
#         for g in df_resultado["Grupo"].unique()
#     }

#     return df_resultado, df_resultado_por_grupo

In [70]:
# def classificacao_por_grupo(df_rodadas, df_pontuacoes):
#     """
#     Classificação dos grupos com base nos confrontos e nas pontuações do Cartola.

#     Retorna:
#     - df_resultado: classificação geral
#     - df_resultado_por_grupo: dicionário com classificação separada por grupo
#     """
#     df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')
#     estatisticas = {}

#     for _, confronto in df_rodadas.iterrows():
#         rodada = confronto["Rodada"]
#         mandante = confronto["Mandante_Nome"]
#         visitante = confronto["Visitante_Nome"]
#         grupo = confronto["Grupo"]
#         coluna_rodada = f"Rodada {rodada}"

#         if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
#             continue
#         if coluna_rodada not in df_pontuacoes_times.columns:
#             continue

#         pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
#         pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

#         if pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante):
#             continue

#         for time in [mandante, visitante]:
#             if grupo not in estatisticas:
#                 estatisticas[grupo] = {}
#             if time not in estatisticas[grupo]:
#                 estatisticas[grupo][time] = {
#                     "Pontos": 0, "Vitórias": 0, "Empates": 0, "Derrotas": 0,
#                     "Total_Cartola": 0, "Cartola_Sofrido": 0
#                 }

#         # Atualizar estatísticas do jogo
#         estatisticas[grupo][mandante]["Total_Cartola"] += pontos_mandante
#         estatisticas[grupo][mandante]["Cartola_Sofrido"] += pontos_visitante

#         estatisticas[grupo][visitante]["Total_Cartola"] += pontos_visitante
#         estatisticas[grupo][visitante]["Cartola_Sofrido"] += pontos_mandante

#         if pontos_mandante > pontos_visitante:
#             estatisticas[grupo][mandante]["Pontos"] += 3
#             estatisticas[grupo][mandante]["Vitórias"] += 1
#             estatisticas[grupo][visitante]["Derrotas"] += 1
#         elif pontos_mandante < pontos_visitante:
#             estatisticas[grupo][visitante]["Pontos"] += 3
#             estatisticas[grupo][visitante]["Vitórias"] += 1
#             estatisticas[grupo][mandante]["Derrotas"] += 1
#         else:
#             estatisticas[grupo][mandante]["Pontos"] += 1
#             estatisticas[grupo][visitante]["Pontos"] += 1
#             estatisticas[grupo][mandante]["Empates"] += 1
#             estatisticas[grupo][visitante]["Empates"] += 1

#     # Montar DataFrame final
#     df_resultado = pd.concat([
#         pd.DataFrame({
#             "Grupo": grupo,
#             "Nome do Time": list(times.keys()),
#             "Pontos": [stats["Pontos"] for stats in times.values()],
#             "Vitórias": [stats["Vitórias"] for stats in times.values()],
#             "Empates": [stats["Empates"] for stats in times.values()],
#             "Derrotas": [stats["Derrotas"] for stats in times.values()],
#             "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
#             "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
#             "Saldo Cartola": [
#             stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
#             ]
#         })
#         for grupo, times in estatisticas.items()
#     ], ignore_index=True)

#     df_resultado = df_resultado.sort_values(
#         by=["Grupo", "Pontos", "Vitórias", "Total Cartola", "Saldo Cartola"],
#         ascending=[True, False, False, False, False]
#     )

#     df_resultado["Posição"] = df_resultado.groupby("Grupo")\
#     .cumcount() + 1

#     df_resultado_por_grupo = {
#         grupo: df_resultado[df_resultado["Grupo"] == grupo] for grupo in df_resultado["Grupo"].unique()
#     }

#     return df_resultado, df_resultado_por_grupo

### Geração e Exportação da Classificação Final da Fase de Grupos

In [71]:
# Gerar a classificação da fase 1
df_resultado, df_resultado_por_grupo = classificacao_por_grupo(df_rodadas, df_pontuacoes)

# Salvar cada grupo em uma aba do Excel
with pd.ExcelWriter("classificacao_por_grupo_fase_1.xlsx") as writer:
    for grupo, df in df_resultado_por_grupo.items():
        df.to_excel(writer, sheet_name=grupo, index=False)

# Exibir a classificação geral
df_resultado_grupo_A = df_resultado[df_resultado["Grupo"] == "Grupo A"]
df_resultado_grupo_B = df_resultado[df_resultado["Grupo"] == "Grupo B"]
df_resultado_grupo_C = df_resultado[df_resultado["Grupo"] == "Grupo C"]
df_resultado_grupo_D = df_resultado[df_resultado["Grupo"] == "Grupo D"]
df_resultado_grupo_E = df_resultado[df_resultado["Grupo"] == "Grupo E"]
df_resultado_grupo_F = df_resultado[df_resultado["Grupo"] == "Grupo F"]
df_resultado_grupo_G = df_resultado[df_resultado["Grupo"] == "Grupo G"]
df_resultado_grupo_H = df_resultado[df_resultado["Grupo"] == "Grupo H"]

display(df_resultado_grupo_A, df_resultado_grupo_B, df_resultado_grupo_C, df_resultado_grupo_D, df_resultado_grupo_E, df_resultado_grupo_F, df_resultado_grupo_G, df_resultado_grupo_H)

,Grupo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posição
0,Grupo A,Fedato Futebol Clube,3,1,0,0,74.41,70.56,3.85,1
1,Grupo A,seralex,3,1,0,0,70.81,68.06,2.75,2
2,Grupo A,Rolo Compressor ZN,0,0,0,1,70.56,74.41,-3.85,3
3,Grupo A,SUPER VASCÃO F.C,0,0,0,1,68.06,70.81,-2.75,4

,Grupo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posição
4,Grupo B,MauHumor F.C.,3,1,0,0,70.36,68.11,2.25,1
5,Grupo B,lsauer fc,3,1,0,0,62.56,59.66,2.90,2
6,Grupo B,Analove10 ITAQUI GRANDE!!,0,0,0,1,68.11,70.36,-2.25,3
7,Grupo B,FBC Colorado,0,0,0,1,59.66,62.56,-2.90,4

,Grupo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posição
8,Grupo C,Paulo Virgili FC,3,1,0,0,90.10,64.26,25.84,1
9,Grupo C,Pity10,3,1,0,0,65.46,41.86,23.60,2
10,Grupo C,Gig@ntte,0,0,0,1,64.26,90.10,-25.84,3
11,Grupo C,SERGRILLO,0,0,0,1,41.86,65.46,-23.60,4

,Grupo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posição
12,Grupo D,pura bucha /botafogo,3,1,0,0,75.61,69.53,6.08,1
13,Grupo D,cartola scheuer,3,1,0,0,73.96,53.96,20.00,2
14,Grupo D,Super Vasco f.c,0,0,0,1,69.53,75.61,-6.08,3
15,Grupo D,KillerColorado,0,0,0,1,53.96,73.96,-20.00,4

,Grupo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posição
16,Grupo E,Texas Club 2025,3,1,0,0,84.46,62.96,21.50,1
17,Grupo E,Dom Camillo68,3,1,0,0,64.91,53.26,11.65,2
18,Grupo E,Laranjja Mecannica,0,0,0,1,62.96,84.46,-21.50,3
19,Grupo E,Gremiomaniasm,0,0,0,1,53.26,64.91,-11.65,4

,Grupo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posição
20,Grupo F,FC Los Castilho,3,1,0,0,76.96,69.39,7.57,1
21,Grupo F,Real SCI,3,1,0,0,63.96,50.29,13.67,2
22,Grupo F,Noah A 10,0,0,0,1,69.39,76.96,-7.57,3
23,Grupo F,Lá do Itaqui,0,0,0,1,50.29,63.96,-13.67,4

,Grupo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posição
24,Grupo G,Tatols Beants F.C,3,1,0,0,85.86,66.26,19.60,1
25,Grupo G,teves_futsal20 f.c,3,1,0,0,71.46,18.81,52.65,2
26,Grupo G,KING LEONN,0,0,0,1,66.26,85.86,-19.60,3
27,Grupo G,S.E.R. GRILLO,0,0,0,1,18.81,71.46,-52.65,4

,Grupo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posição
28,Grupo H,A Lenda Super Vasco F.c,3,1,0,0,87.33,78.93,8.40,1
29,Grupo H,BORGES ITAQUI F.C.,3,1,0,0,76.06,69.96,6.10,2
30,Grupo H,RHANKA DENTY FC25,0,0,0,1,78.93,87.33,-8.40,3
31,Grupo H,TEAM LOPES 99,0,0,0,1,69.96,76.06,-6.10,4

### Geração do Arquivo classificacao_fase_1.js com as Classificações por Grupo

In [72]:
# Criar estrutura em formato de dicionário para JSON/JS
classificacao_js = {}

for grupo, df in df_resultado_por_grupo.items():
    classificacao_js[grupo] = []
    for _, row in df.iterrows():
        classificacao_js[grupo].append({
            "posicao": int(row["Posição"]),
            "nome": row["Nome do Time"],
            "pontos": int(row["Pontos"]),
            "vitorias": int(row["Vitórias"]),
            "empates": int(row["Empates"]),
            "derrotas": int(row["Derrotas"]),
            "totalCartola": float(row["Total Cartola"]),
            "cartolaSofrido": float(row["Cartola Sofrido"]),
            "saldoCartola": float(row["Saldo Cartola"])
        })

# Converter para JSON formatado
json_str = json.dumps(classificacao_js, indent=2, ensure_ascii=False)

# Salvar como arquivo JS com uma variável global
with open("classificacao_por_grupo_fase_1.js", "w", encoding="utf-8") as f:
    f.write("const classificacaoFase1 = ")
    f.write(json_str)
    f.write(";")

In [73]:
def exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada, grupo=None):
    """
    Exibe os resultados de uma rodada específica, com pontuação e dados dos times.
    """

    if rodada not in df_rodadas["Rodada"].values:
        return pd.DataFrame([{
            "Grupo": grupo or "-",
            "Rodada": rodada,
            "Mandante_Nome": "-",
            "Mandante_Clube": "-",
            "Mandante_Participante": "-",
            "Mandante_Pontos": "-",
            "Visitante_Nome": "-",
            "Visitante_Clube": "-",
            "Visitante_Participante": "-",
            "Visitante_Pontos": "-",
        }])

    df_filtrado = df_rodadas[df_rodadas["Rodada"] == rodada]
    if grupo:
        df_filtrado = df_filtrado[df_filtrado["Grupo"] == grupo]

    resultados = []

    for _, row in df_filtrado.iterrows():
        grupo_ = row["Grupo"]
        mandante = row["Mandante_Nome"]
        visitante = row["Visitante_Nome"]
        mandante_clube = row["Mandante_Clube"]
        visitante_clube = row["Visitante_Clube"]
        mandante_participante = row["Mandante_Participante"]
        visitante_participante = row["Visitante_Participante"]

        pontos_mandante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(mandante, None)
        pontos_visitante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(visitante, None)

        resultados.append({
            "Grupo": grupo_,
            "Rodada": rodada,
            "Mandante_Nome": mandante,
            "Mandante_Clube": mandante_clube,
            "Mandante_Participante": mandante_participante,
            "Mandante_Pontos": pontos_mandante,
            "Visitante_Nome": visitante,
            "Visitante_Clube": visitante_clube,
            "Visitante_Participante": visitante_participante,
            "Visitante_Pontos": pontos_visitante
        })

    return pd.DataFrame(resultados)

In [74]:
# Exibir resultados da 2ª rodada
df_resultados_rodada_1 = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=20)

# Exibir apenas os resultados do Grupo B na 1ª rodada
df_resultados_grupo_B = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=20, grupo="Grupo H")

# Exibir
# display(df_resultados_rodada2)
display(df_resultados_rodada_1)

,Grupo,Rodada,Mandante_Nome,Mandante_Clube,Mandante_Participante,Mandante_Pontos,Visitante_Nome,Visitante_Clube,Visitante_Participante,Visitante_Pontos
0,Grupo A,20,Rolo Compressor ZN,Carabobo,Júlio Cesar,70.56,Fedato Futebol Clube,Estudiantes,Elvis,74.41
1,Grupo A,20,SUPER VASCÃO F.C,Universidade Católica do Chile,Camilo,68.06,seralex,Botafogo,Gabriel,70.81
2,Grupo B,20,lsauer fc,Barcelona,Sauer,62.56,FBC Colorado,Independiente del Valle,Ivanildo,59.66
3,Grupo B,20,MauHumor F.C.,Universitário,Lucas,70.36,Analove10 ITAQUI GRANDE!!,River Plate,Henrique,68.11
4,Grupo C,20,Pity10,Central Córdoba,Ananias,65.46,SERGRILLO,LDU,Paulo Augusto,41.86
5,Grupo C,20,Paulo Virgili FC,Deportivo Táchira,Rodrigo,90.10,Gig@ntte,Flamengo,Marllon,64.26
6,Grupo D,20,cartola scheuer,Alianza Lima,Fedato,73.96,KillerColorado,Libertad,Boka,53.96
7,Grupo D,20,pura bucha /botafogo,Talleres,Elemar,75.61,Super Vasco f.c,São Paulo,Fumaco,69.53
8,Grupo E,20,Laranjja Mecannica,Bucaramanga,Márcio,62.96,Texas Club 2025,Colo-Colo,Cassiano,84.46
9,Grupo E,20,Gremiomaniasm,Fortaleza,Moodi,53.26,Dom Camillo68,Racing,Diego,64.91
10,Grupo F,20,FC Los Castilho,Bahia,Marquinho,76.96,Noah A 10,Internacional,Gerônimo,69.39
11,Grupo F,20,Real SCI,Atlético Nacional,Alex,63.96,Lá do Itaqui,Nacional,Castilho,50.29
12,Grupo G,20,teves_futsal20 f.c,Cerro Porteño,Ricardo,71.46,S.E.R. GRILLO,Bolívar,Tatita,18.81
13,Grupo G,20,KING LEONN,Sporting Cristal,Ronaldo,66.26,Tatols Beants F.C,Palmeiras,Leon,85.86
14,Grupo H,20,RHANKA DENTY FC25,San Antônio Bulo Bulo,Adriano,78.93,A Lenda Super Vasco F.c,Olimpia,André,87.33
15,Grupo H,20,TEAM LOPES 99,Velez Sarsfield,Fernando,69.96,BORGES ITAQUI F.C.,Peñarol,Roberto,76.06

In [75]:
# Criar arquivo com uma aba para cada rodada contendo os resultados detalhados
from pathlib import Path

# Caminho do arquivo de saída
caminho_resultados = "resultados_fase_1.xlsx"

# Descobrir as rodadas únicas no DataFrame
rodadas_disponiveis = sorted(df_rodadas["Rodada"].unique())

with pd.ExcelWriter(caminho_resultados) as writer:
    for rodada in rodadas_disponiveis:
        df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
        nome_aba = f"Rodada {rodada}"
        df_resultados.to_excel(writer, sheet_name=nome_aba, index=False)

print(f"Arquivo salvo com sucesso: {Path(caminho_resultados).resolve()}")

Arquivo salvo com sucesso: C:\Users\ferna\Projetos\GitHub\cartola_fbc_2_turno\libertadores\datasets_liberta\resultados_fase_1.xlsx

In [76]:
display(df_resultados)

,Grupo,Rodada,Mandante_Nome,Mandante_Clube,Mandante_Participante,Mandante_Pontos,Visitante_Nome,Visitante_Clube,Visitante_Participante,Visitante_Pontos
0,Grupo A,25,seralex,Botafogo,Gabriel,None,SUPER VASCÃO F.C,Universidade Católica do Chile,Camilo,None
1,Grupo A,25,Fedato Futebol Clube,Estudiantes,Elvis,None,Rolo Compressor ZN,Carabobo,Júlio Cesar,None
2,Grupo B,25,Analove10 ITAQUI GRANDE!!,River Plate,Henrique,None,MauHumor F.C.,Universitário,Lucas,None
3,Grupo B,25,FBC Colorado,Independiente del Valle,Ivanildo,None,lsauer fc,Barcelona,Sauer,None
4,Grupo C,25,Gig@ntte,Flamengo,Marllon,None,Paulo Virgili FC,Deportivo Táchira,Rodrigo,None
5,Grupo C,25,SERGRILLO,LDU,Paulo Augusto,None,Pity10,Central Córdoba,Ananias,None
6,Grupo D,25,Super Vasco f.c,São Paulo,Fumaco,None,pura bucha /botafogo,Talleres,Elemar,None
7,Grupo D,25,KillerColorado,Libertad,Boka,None,cartola scheuer,Alianza Lima,Fedato,None
8,Grupo E,25,Dom Camillo68,Racing,Diego,None,Gremiomaniasm,Fortaleza,Moodi,None
9,Grupo E,25,Texas Club 2025,Colo-Colo,Cassiano,None,Laranjja Mecannica,Bucaramanga,Márcio,None
10,Grupo F,25,Lá do Itaqui,Nacional,Castilho,None,Real SCI,Atlético Nacional,Alex,None
11,Grupo F,25,Noah A 10,Internacional,Gerônimo,None,FC Los Castilho,Bahia,Marquinho,None
12,Grupo G,25,Tatols Beants F.C,Palmeiras,Leon,None,KING LEONN,Sporting Cristal,Ronaldo,None
13,Grupo G,25,S.E.R. GRILLO,Bolívar,Tatita,None,teves_futsal20 f.c,Cerro Porteño,Ricardo,None
14,Grupo H,25,BORGES ITAQUI F.C.,Peñarol,Roberto,None,TEAM LOPES 99,Velez Sarsfield,Fernando,None
15,Grupo H,25,A Lenda Super Vasco F.c,Olimpia,André,None,RHANKA DENTY FC25,San Antônio Bulo Bulo,Adriano,None

In [77]:
resultados_js = []

for rodada in sorted(df_rodadas["Rodada"].unique()):
    df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
    
    for _, row in df_resultados.iterrows():
        resultado = {
            "grupo": row["Grupo"],
            "rodada": int(rodada),
            "mandante": {
                "nome": row["Mandante_Nome"],
                "participante": row["Mandante_Participante"],
                "clube": row["Mandante_Clube"],
                "pontos": float(row["Mandante_Pontos"]) if row["Mandante_Pontos"] is not None else None
            },
            "visitante": {
                "nome": row["Visitante_Nome"],
                "participante": row["Visitante_Participante"],
                "clube": row["Visitante_Clube"],
                "pontos": float(row["Visitante_Pontos"]) if row["Visitante_Pontos"] is not None else None
            },
            "vencedor": (
                "mandante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] > row["Visitante_Pontos"]
                else "visitante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] < row["Visitante_Pontos"]
                else "empate" if row["Mandante_Pontos"] == row["Visitante_Pontos"] and row["Mandante_Pontos"] is not None
                else "indefinido"
            )

        }
        resultados_js.append(resultado)

# Exportar para arquivo .js
import json

with open("resultados_fase_1.js", "w", encoding="utf-8") as f:
    f.write("const resultadosFase1 = ")
    f.write(json.dumps(resultados_js, indent=2, ensure_ascii=False))
    f.write(";")