### FASE 2 da Libertadores

In [17]:
import cartolafc
import pandas as pd
from difflib import get_close_matches
import json

pd.set_option('display.max_columns', 50)            # permite a visualiza칞칚o de 50 colunas do dataframe
pd.options.display.float_format = '{:.2f}'.format   # pandas: para todos os n칰meros aparecerem com duas casas decimais

# Cria uma inst칙ncia da API
api = cartolafc.Api(attempts=5)

In [18]:
# Dicion치rio com ID -> Nome do time (gerado anteriormente)
nomes_por_id = {
    20696550: 'Dom Camillo68', 
    44810918: 'lsauer fc',
    44574236: 'Analove10 ITAQUI GRANDE!!',
    13707047: 'Super Vasco f.c',

    47543456: 'Tabajara de Inhaua FC2',
    18661583: 'pura bucha /botafogo',
    1273719: 'Texas Club 2025',
    479510: 'TEAM LOPES 99',

    3246608: 'Real SCI',
    50158297: 'L치 do Itaqui',
    13951133: 'KING LEONN',
    18344271: 'Laranjja Mecannica',

    49128587: 'TORRESMO COM PINGA',
    528730: 'Gremiomaniasm',
    18421230: 'Gig@ntte',
    36359: 'KillerColorado',    
}

In [19]:
# Lista com todos os dados que voc칡 passou
dados_torneio = [
    # Grupo I
    ("Grupo I", 20696550),
    ("Grupo I", 44810918),
    ("Grupo I", 44574236),    
    ("Grupo I", 13707047),    
    # Grupo J
    ("Grupo J", 47543456),
    ("Grupo J", 18661583),
    ("Grupo J", 1273719),
    ("Grupo J", 479510),
    # Grupo K
    ("Grupo K", 3246608),
    ("Grupo K", 50158297),
    ("Grupo K", 13951133),
    ("Grupo K", 18344271),
    # Grupo L
    ("Grupo L", 49128587),
    ("Grupo L", 528730),
    ("Grupo L", 18421230),
    ("Grupo L", 36359),
]

# Criar DataFrame base
df_torneio = pd.DataFrame(dados_torneio, columns=["Grupo", "ID do Time"])

# Adicionar Nome do Time usando o dicion치rio
df_torneio["Nome do Time"] = df_torneio["ID do Time"].map(nomes_por_id)

# Adicionar ID no Grupo
df_torneio["ID no Grupo"] = df_torneio.groupby("Grupo").cumcount() + 1
df_torneio["ID no Grupo"] = df_torneio["ID no Grupo"].astype(str) + "_" + df_torneio["Grupo"].str[-1]

# Reorganizar colunas
df_torneio = df_torneio[["Grupo", "ID do Time", "Nome do Time", "ID no Grupo"]]

df_liberta_grupo_I = df_torneio[df_torneio["Grupo"] == "Grupo I"]
df_liberta_grupo_J = df_torneio[df_torneio["Grupo"] == "Grupo J"]
df_liberta_grupo_K = df_torneio[df_torneio["Grupo"] == "Grupo K"]
df_liberta_grupo_L = df_torneio[df_torneio["Grupo"] == "Grupo L"]

# Lista de grupos
grupos = {
    "Grupo A": df_liberta_grupo_I,
    "Grupo B": df_liberta_grupo_J,
    "Grupo C": df_liberta_grupo_K,
    "Grupo D": df_liberta_grupo_L,
}

In [20]:
display(df_liberta_grupo_I)

     Grupo  ID do Time               Nome do Time ID no Grupo
0  Grupo I    20696550              Dom Camillo68         1_I
1  Grupo I    44810918                  lsauer fc         2_I
2  Grupo I    44574236  Analove10 ITAQUI GRANDE!!         3_I
3  Grupo I    13707047            Super Vasco f.c         4_I

### Defini칞칚o dos Confrontos das 6 Rodadas da Fase 2 da Libertadores (Rodada 7 A 12)

In [21]:
# Rodada 1 - Fase 2 Libertadores (Equivalente a &췈 Rodada do Campeonato Brasileiro)
 #     1: [(1,2), (3,4)],
confrontos_1a_rodada = [
    # Grupo I
    ("Grupo I", "1_I", "2_I"),
    ("Grupo I", "3_I", "4_I"),

    # Grupo J
    ("Grupo J", "1_J", "2_J"),
    ("Grupo J", "3_J", "4_J"),

    # Grupo K
    ("Grupo K", "1_K", "2_K"),
    ("Grupo K", "3_K", "4_K"),

    # Grupo L
    ("Grupo L", "1_L", "2_L"),
    ("Grupo L", "3_L", "4_L")
]

# Rodada 2 - Fase 2 Libertadores (Equivalente a 8췈 Rodada do Campeonato Brasileiro)
#     2: [(2,3), (4,1)],
confrontos_2a_rodada = [
    # Grupo I
    ("Grupo I", "2_I", "3_I"),
    ("Grupo I", "4_I", "1_I"),

    # Grupo J
    ("Grupo J", "2_J", "3_J"),
    ("Grupo J", "4_J", "1_J"),

    # Grupo K
    ("Grupo K", "2_K", "3_K"),
    ("Grupo K", "4_K", "1_K"),

    # Grupo L
    ("Grupo L", "2_L", "3_L"),
    ("Grupo L", "4_L", "1_L")
]

# Rodada 3 - Fase 2 Libertadores (Equivalente a 9췈 Rodada do Campeonato Brasileiro)
#     3: [(1,3), (4,2)],
confrontos_3a_rodada = [
    # Grupo I
    ("Grupo I", "1_I", "3_I"),
    ("Grupo I", "4_I", "2_I"),

    # Grupo J
    ("Grupo J", "1_J", "3_J"),
    ("Grupo J", "4_J", "2_J"),

    # Grupo K
    ("Grupo K", "1_K", "3_K"),
    ("Grupo K", "4_K", "2_K"),

    # Grupo L
    ("Grupo L", "1_L", "3_L"),
    ("Grupo L", "4_L", "2_L")
]

# Rodada 4 - Fase 2 Libertadores (Equivalente a 10췈 Rodada do Campeonato Brasileiro)
#     4: [(2,1), (4,3)],
confrontos_4a_rodada = [
    # Grupo I
    ("Grupo I", "2_I", "1_I"),
    ("Grupo I", "4_I", "3_I"),

    # Grupo J
    ("Grupo J", "2_J", "1_J"),
    ("Grupo J", "4_J", "3_J"),

    # Grupo K
    ("Grupo K", "2_K", "1_K"),
    ("Grupo K", "4_K", "3_K"),

    # Grupo L
    ("Grupo L", "2_L", "1_L"),
    ("Grupo L", "4_L", "3_L")
]

# Rodada 5 - Fase 2 Libertadores (Equivalente a 11췈 Rodada do Campeonato Brasileiro)
#     5: [(3,2), (1,4)],
confrontos_5a_rodada = [
    # Grupo I
    ("Grupo I", "3_I", "2_I"),
    ("Grupo I", "1_I", "4_I"),

    # Grupo J
    ("Grupo J", "3_J", "2_J"),
    ("Grupo J", "1_J", "4_J"),

    # Grupo K
    ("Grupo K", "3_K", "2_K"),
    ("Grupo K", "1_K", "4_K"),

    # Grupo L
    ("Grupo L", "3_L", "2_L"),
    ("Grupo L", "1_L", "4_L")
]

# Rodada 6 - Fase 2 Libertadores (Equivalente a 12췈 Rodada do Campeonato Brasileiro)
 #     6: [(3,1), (2,4)],
confrontos_6a_rodada = [
    # Grupo I
    ("Grupo I", "3_I", "1_I"),
    ("Grupo I", "2_I", "4_I"),

    # Grupo J
    ("Grupo J", "3_J", "1_J"),
    ("Grupo J", "2_J", "4_J"),

    # Grupo K
    ("Grupo K", "3_K", "1_K"),
    ("Grupo K", "2_K", "4_K"),

    # Grupo L
    ("Grupo L", "3_L", "1_L"),
    ("Grupo L", "2_L", "4_L")
]

In [22]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_1a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])

# Junta com df_torneio para buscar dados dos mandantes
df_mandantes = df_torneio.rename(columns={
    "ID no Grupo": "Mandante_ID",
    "Nome do Time": "Mandante_Nome",
    "ID do Time": "Mandante_ID_Time"
})[["Grupo", "Mandante_ID", "Mandante_Nome", "Mandante_ID_Time"]]

# Junta com df_torneio para buscar dados dos visitantes
df_visitantes = df_torneio.rename(columns={
    "ID no Grupo": "Visitante_ID",
    "Nome do Time": "Visitante_Nome",
    "ID do Time": "Visitante_ID_Time"    
})[["Grupo", "Visitante_ID", "Visitante_Nome", "Visitante_ID_Time"]]

In [23]:
# df_confrontos

In [24]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_1a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos["Rodada"] = 26  # <<< ADICIONAR ESTA LINHA
df_rodada_1 = df_confrontos.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_1 = df_rodada_1.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Transformar em DataFrame
df_confrontos_2 = pd.DataFrame(confrontos_2a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_2["Rodada"] = 27
df_rodada_2 = df_confrontos_2.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_2 = df_rodada_2.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Transformar em DataFrame
df_confrontos_3 = pd.DataFrame(confrontos_3a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_3["Rodada"] = 28
df_rodada_3 = df_confrontos_3.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_3 = df_rodada_3.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Criar DataFrame da 4춹 rodada
df_confrontos_4 = pd.DataFrame(confrontos_4a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_4["Rodada"] = 29
df_rodada_4 = df_confrontos_4.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_4 = df_rodada_4.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Quinta rodada
df_confrontos_5 = pd.DataFrame(confrontos_5a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_5["Rodada"] = 30
df_rodada_5 = df_confrontos_5.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_5 = df_rodada_5.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Sexta rodada
df_confrontos_6 = pd.DataFrame(confrontos_6a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_6["Rodada"] = 31
df_rodada_6 = df_confrontos_6.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_6 = df_rodada_6.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

In [25]:
df_rodadas = pd.concat([
    df_rodada_1,
    df_rodada_2,
    df_rodada_3,
    df_rodada_4,
    df_rodada_5,
    df_rodada_6
], ignore_index=True)

# Ajustar a numera칞칚o da rodada para refletir as rodadas do Cartola (Rodada 7 at칠 12)
df_rodadas["Rodada"] = df_rodadas["Rodada"] + 6  # Ex: 1 -> 7, 2 -> 8, ..., 6 -> 12

df_rodadas.to_excel("confrontos_fase_1_libertadores.xlsx", index=False)

# Exibir os confrontos da fase 1
display(df_rodadas.head(8))

,Grupo,Mandante_ID,Visitante_ID,Rodada,Mandante_Nome,Mandante_ID_Time,Visitante_Nome,Visitante_ID_Time
0,Grupo I,1_I,2_I,32,Dom Camillo68,20696550,lsauer fc,44810918
1,Grupo I,3_I,4_I,32,Analove10 ITAQUI GRANDE!!,44574236,Super Vasco f.c,13707047
2,Grupo J,1_J,2_J,32,Tabajara de Inhaua FC2,47543456,pura bucha /botafogo,18661583
3,Grupo J,3_J,4_J,32,Texas Club 2025,1273719,TEAM LOPES 99,479510
4,Grupo K,1_K,2_K,32,Real SCI,3246608,L치 do Itaqui,50158297
5,Grupo K,3_K,4_K,32,KING LEONN,13951133,Laranjja Mecannica,18344271
6,Grupo L,1_L,2_L,32,TORRESMO COM PINGA,49128587,Gremiomaniasm,528730
7,Grupo L,3_L,4_L,32,Gig@ntte,18421230,KillerColorado,36359

In [26]:
# Criar lista de dicion치rios no formato desejado
confrontos_js_fase_2 = []

for _, row in df_rodadas.iterrows():
    confronto = {
        "grupo": row["Grupo"],
        "rodada": int(row["Rodada"]),
        "mandante": {
            "id": int(row["Mandante_ID_Time"]),
            "nome": row["Mandante_Nome"],
            # "clube": row["Mandante_Clube"],
            # "participante": row["Mandante_Participante"]
        },
        "visitante": {
            "id": int(row["Visitante_ID_Time"]),
            "nome": row["Visitante_Nome"],
            # "clube": row["Visitante_Clube"],
            # "participante": row["Visitante_Participante"]
        }
    }
    confrontos_js_fase_2.append(confronto)

# Converter para JSON formatado
json_str = json.dumps(confrontos_js_fase_2, indent=2, ensure_ascii=False)

# Salvar como arquivo JS com uma vari치vel global
with open("confrontos_fase2_libertadores.js", "w", encoding="utf-8") as f:
    f.write("const confrontosFase2 = ")
    f.write(json_str)
    f.write(";")

In [27]:
def exibir_confrontos(df_rodadas, rodada=None, grupo=None):
    """
    Filtra e exibe os confrontos por rodada e/ou grupo.
    
    Par칙metros:
    - df_rodadas: DataFrame com todos os confrontos
    - rodada: n칰mero da rodada (int ou None para todas)
    - grupo: nome do grupo (str ou None para todos)
    
    Retorna:
    - DataFrame filtrado com as colunas relevantes
    """
    colunas = ["Rodada", "Grupo", "Mandante_Nome", "Visitante_Nome"]
    df_filtrado = df_rodadas.copy()

    df_filtrado["Rodada"] = df_filtrado["Rodada"].astype(str) + "춹 Rodada"    

    if rodada is not None:
        df_filtrado = df_filtrado[df_filtrado["Rodada"] == rodada]

    if grupo is not None:
        df_filtrado = df_filtrado[df_filtrado["Grupo"] == grupo]

    return df_filtrado[colunas].sort_values(by=["Grupo", "Rodada"])

In [28]:
# Exibir todos os confrontos do Grupo C
display(exibir_confrontos(df_rodadas, grupo="Grupo L").head(20))

        Rodada    Grupo       Mandante_Nome      Visitante_Nome
6   32춹 Rodada  Grupo L  TORRESMO COM PINGA       Gremiomaniasm
7   32춹 Rodada  Grupo L            Gig@ntte      KillerColorado
14  33춹 Rodada  Grupo L       Gremiomaniasm            Gig@ntte
15  33춹 Rodada  Grupo L      KillerColorado  TORRESMO COM PINGA
22  34춹 Rodada  Grupo L  TORRESMO COM PINGA            Gig@ntte
23  34춹 Rodada  Grupo L      KillerColorado       Gremiomaniasm
30  35춹 Rodada  Grupo L       Gremiomaniasm  TORRESMO COM PINGA
31  35춹 Rodada  Grupo L      KillerColorado            Gig@ntte
38  36춹 Rodada  Grupo L            Gig@ntte       Gremiomaniasm
39  36춹 Rodada  Grupo L  TORRESMO COM PINGA      KillerColorado
46  37춹 Rodada  Grupo L            Gig@ntte  TORRESMO COM PINGA
47  37춹 Rodada  Grupo L       Gremiomaniasm      KillerColorado

In [29]:
def campeonato_comecou(api, ids_times):
    """Verifica se o campeonato j치 come칞ou observando a pontua칞칚o na 1춹 rodada."""
    for time_id in ids_times.values():
        try:
            pontuacao = api.time(time_id=time_id, rodada=26).ultima_pontuacao
            if pontuacao is not None:
                return True
        except cartolafc.errors.CartolaFCError:
            continue
    return False

def obter_pontuacao_por_rodada(api, time_id, rodada_atual):
    """Obt칠m a pontua칞칚o do time em cada rodada at칠 a rodada atual."""
    pontuacoes = {}
    for rodada in range(26, rodada_atual):
        try:
            time_rodada = api.time(time_id=time_id, rodada=rodada)
            pontuacoes[rodada] = time_rodada.ultima_pontuacao
        except cartolafc.errors.CartolaFCError as e:
            print(f"Erro ao acessar pontua칞칚o da rodada {rodada} para o time {time_id}: {e}")
            pontuacoes[rodada] = None
    return pontuacoes

def gerar_df_pontuacoes(api, ids_times):
    rodada_atual = api.mercado().rodada_atual
    total_rodadas = 6

    if not campeonato_comecou(api, ids_times):
        print("游늷 O campeonato ainda n칚o come칞ou. Criando estrutura com placeholders.")
        df = pd.DataFrame(index=ids_times.keys(), columns=[f'Rodada {i}' for i in range(26, total_rodadas + 1)])
        df[:] = 0
    else:
        df = pd.DataFrame()
        for nome, time_id in ids_times.items():
            pontuacoes = obter_pontuacao_por_rodada(api, time_id, rodada_atual)
            df[nome] = pd.Series(pontuacoes)
        df = df.transpose()
        df.columns = [f'Rodada {i}' for i in range(26, rodada_atual)]
        df.loc['Lider_Rodada'] = df.idxmax()
    
    return df

In [30]:
ids_times = {v: k for k, v in nomes_por_id.items()}

df_pontuacoes = gerar_df_pontuacoes(api, ids_times)
display(df_pontuacoes.T)

2025-08-13 11:08:29,460 - root - ERROR - Rodada inv치lida.
2025-08-13 11:08:29,575 - root - ERROR - Rodada inv치lida.
2025-08-13 11:08:29,678 - root - ERROR - Rodada inv치lida.
2025-08-13 11:08:29,805 - root - ERROR - Rodada inv치lida.
2025-08-13 11:08:29,920 - root - ERROR - Rodada inv치lida.
2025-08-13 11:08:30,027 - root - ERROR - Rodada inv치lida.
2025-08-13 11:08:30,134 - root - ERROR - Rodada inv치lida.
2025-08-13 11:08:30,232 - root - ERROR - Rodada inv치lida.
2025-08-13 11:08:30,342 - root - ERROR - Rodada inv치lida.
2025-08-13 11:08:30,458 - root - ERROR - Rodada inv치lida.
2025-08-13 11:08:30,568 - root - ERROR - Rodada inv치lida.
2025-08-13 11:08:30,693 - root - ERROR - Rodada inv치lida.
2025-08-13 11:08:30,797 - root - ERROR - Rodada inv치lida.
2025-08-13 11:08:30,899 - root - ERROR - Rodada inv치lida.
2025-08-13 11:08:30,994 - root - ERROR - Rodada inv치lida.
2025-08-13 11:08:31,097 - root - ERROR - Rodada inv치lida.

游늷 O campeonato ainda n칚o come칞ou. Criando estrutura com placeholders.

Empty DataFrame
Columns: [Dom Camillo68, lsauer fc, Analove10 ITAQUI GRANDE!!, Super Vasco f.c, Tabajara de Inhaua FC2, pura bucha /botafogo, Texas Club 2025, TEAM LOPES 99, Real SCI, L치 do Itaqui, KING LEONN, Laranjja Mecannica, TORRESMO COM PINGA, Gremiomaniasm, Gig@ntte, KillerColorado]
Index: []

In [31]:
# def classificacao_por_grupo(df_rodadas, df_pontuacoes):
#     """
#     Classifica칞칚o dos grupos com base nos confrontos e nas pontua칞칫es do Cartola.

#     Retorna:
#     - df_resultado: classifica칞칚o geral
#     - df_resultado_por_grupo: dicion치rio com classifica칞칚o separada por grupo
#     """
#     df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')
#     estatisticas = {}

#     for _, confronto in df_rodadas.iterrows():
#         rodada = confronto["Rodada"]
#         mandante = confronto["Mandante_Nome"]
#         visitante = confronto["Visitante_Nome"]
#         grupo = confronto["Grupo"]
#         coluna_rodada = f"Rodada {rodada}"

#         if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
#             continue
#         if coluna_rodada not in df_pontuacoes_times.columns:
#             continue

#         pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
#         pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

#         if pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante):
#             continue

#         for time in [mandante, visitante]:
#             if grupo not in estatisticas:
#                 estatisticas[grupo] = {}
#             if time not in estatisticas[grupo]:
#                 estatisticas[grupo][time] = {
#                     "Pontos": 0, "Vit칩rias": 0, "Empates": 0, "Derrotas": 0,
#                     "Total_Cartola": 0, "Cartola_Sofrido": 0
#                 }

#         # Atualizar estat칤sticas do jogo
#         estatisticas[grupo][mandante]["Total_Cartola"] += pontos_mandante
#         estatisticas[grupo][mandante]["Cartola_Sofrido"] += pontos_visitante

#         estatisticas[grupo][visitante]["Total_Cartola"] += pontos_visitante
#         estatisticas[grupo][visitante]["Cartola_Sofrido"] += pontos_mandante

#         if pontos_mandante > pontos_visitante:
#             estatisticas[grupo][mandante]["Pontos"] += 3
#             estatisticas[grupo][mandante]["Vit칩rias"] += 1
#             estatisticas[grupo][visitante]["Derrotas"] += 1
#         elif pontos_mandante < pontos_visitante:
#             estatisticas[grupo][visitante]["Pontos"] += 3
#             estatisticas[grupo][visitante]["Vit칩rias"] += 1
#             estatisticas[grupo][mandante]["Derrotas"] += 1
#         else:
#             estatisticas[grupo][mandante]["Pontos"] += 1
#             estatisticas[grupo][visitante]["Pontos"] += 1
#             estatisticas[grupo][mandante]["Empates"] += 1
#             estatisticas[grupo][visitante]["Empates"] += 1

#     # Montar DataFrame final
#     df_resultado = pd.concat([
#         pd.DataFrame({
#             "Grupo": grupo,
#             "Nome do Time": list(times.keys()),
#             "Pontos": [stats["Pontos"] for stats in times.values()],
#             "Vit칩rias": [stats["Vit칩rias"] for stats in times.values()],
#             "Empates": [stats["Empates"] for stats in times.values()],
#             "Derrotas": [stats["Derrotas"] for stats in times.values()],
#             "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
#             "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
#             "Saldo Cartola": [
#             stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
#             ]
#         })
#         for grupo, times in estatisticas.items()
#     ], ignore_index=True)

#     df_resultado = df_resultado.sort_values(
#         by=["Grupo", "Pontos", "Vit칩rias", "Total Cartola", "Saldo Cartola"],
#         ascending=[True, False, False, False, False]
#     )

#     df_resultado["Posi칞칚o"] = df_resultado.groupby("Grupo")\
#     .cumcount() + 1

#     df_resultado_por_grupo = {
#         grupo: df_resultado[df_resultado["Grupo"] == grupo] for grupo in df_resultado["Grupo"].unique()
#     }

#     return df_resultado, df_resultado_por_grupo

In [32]:
def classificacao_por_grupo(df_rodadas, df_pontuacoes, total_fase1_por_time):
    """
    Classifica칞칚o dos grupos com base nos confrontos e nas pontua칞칫es do Cartola (Fase 2),
    somando o total da Fase 1 para compor o 'Total Cartola'.

    Par칙metros:
    - df_rodadas: DataFrame com os confrontos e grupos
    - df_pontuacoes: DataFrame com as pontua칞칫es por rodada (Fase 2)
    - total_fase1_por_time: dict ou Series com total da Fase 1 por time

    Retorna:
    - df_resultado: classifica칞칚o geral
    - df_resultado_por_grupo: dicion치rio com classifica칞칚o separada por grupo
    """
    df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')
    estatisticas = {}

    for _, confronto in df_rodadas.iterrows():
        rodada = confronto["Rodada"]
        mandante = confronto["Mandante_Nome"]
        visitante = confronto["Visitante_Nome"]
        grupo = confronto["Grupo"]
        coluna_rodada = f"Rodada {rodada}"

        if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
            continue
        if coluna_rodada not in df_pontuacoes_times.columns:
            continue

        pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
        pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

        if pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante):
            continue

        for time in [mandante, visitante]:
            if grupo not in estatisticas:
                estatisticas[grupo] = {}
            if time not in estatisticas[grupo]:
                estatisticas[grupo][time] = {
                    "Pontos": 0, "Vit칩rias": 0, "Empates": 0, "Derrotas": 0,
                    "Total_Cartola": total_fase1_por_time.get(time, 0),  # soma base da Fase 1
                    "Cartola_Sofrido": 0
                }

        # Atualizar estat칤sticas do jogo
        estatisticas[grupo][mandante]["Total_Cartola"] += pontos_mandante
        estatisticas[grupo][mandante]["Cartola_Sofrido"] += pontos_visitante

        estatisticas[grupo][visitante]["Total_Cartola"] += pontos_visitante
        estatisticas[grupo][visitante]["Cartola_Sofrido"] += pontos_mandante

        if pontos_mandante > pontos_visitante:
            estatisticas[grupo][mandante]["Pontos"] += 3
            estatisticas[grupo][mandante]["Vit칩rias"] += 1
            estatisticas[grupo][visitante]["Derrotas"] += 1
        elif pontos_mandante < pontos_visitante:
            estatisticas[grupo][visitante]["Pontos"] += 3
            estatisticas[grupo][visitante]["Vit칩rias"] += 1
            estatisticas[grupo][mandante]["Derrotas"] += 1
        else:
            estatisticas[grupo][mandante]["Pontos"] += 1
            estatisticas[grupo][visitante]["Pontos"] += 1
            estatisticas[grupo][mandante]["Empates"] += 1
            estatisticas[grupo][visitante]["Empates"] += 1

    df_resultado = pd.concat([
        pd.DataFrame({
            "Grupo": grupo,
            "Nome do Time": list(times.keys()),
            "Pontos": [stats["Pontos"] for stats in times.values()],
            "Vit칩rias": [stats["Vit칩rias"] for stats in times.values()],
            "Empates": [stats["Empates"] for stats in times.values()],
            "Derrotas": [stats["Derrotas"] for stats in times.values()],
            "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
            "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
            "Saldo Cartola": [
                stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
            ]
        }) for grupo, times in estatisticas.items()
    ], ignore_index=True)

    df_resultado = df_resultado.sort_values(
        by=["Grupo", "Pontos", "Vit칩rias", "Total Cartola", "Saldo Cartola"],
        ascending=[True, False, False, False, False]
    )

    df_resultado["Posi칞칚o"] = df_resultado.groupby("Grupo").cumcount() + 1

    df_resultado_por_grupo = {
        grupo: df_resultado[df_resultado["Grupo"] == grupo] for grupo in df_resultado["Grupo"].unique()
    }

    return df_resultado, df_resultado_por_grupo

In [33]:
df_fase1 = pd.read_excel("classificacao_por_grupo_fase_1.xlsx", sheet_name=None)
df_total_fase1 = pd.concat(df_fase1.values())
total_fase1_por_time = df_total_fase1.set_index("Nome do Time")["Total Cartola"].to_dict()

KeyError: "None of ['Nome do Time'] are in the columns"

In [ ]:
# Gerar a classifica칞칚o da fase 2
# df_resultado, df_resultado_por_grupo = classificacao_por_grupo(df_rodadas, df_pontuacoes)
df_resultado, df_resultado_por_grupo = classificacao_por_grupo(df_rodadas, df_pontuacoes, total_fase1_por_time)


# Salvar cada grupo em uma aba do Excel
with pd.ExcelWriter("classificacao_por_grupo_fase_2.xlsx") as writer:
    for grupo, df in df_resultado_por_grupo.items():
        df.to_excel(writer, sheet_name=grupo, index=False)

# Exibir a classifica칞칚o geral
df_resultado_grupo_I = df_resultado[df_resultado["Grupo"] == "Grupo I"]
df_resultado_grupo_J = df_resultado[df_resultado["Grupo"] == "Grupo J"]
df_resultado_grupo_K = df_resultado[df_resultado["Grupo"] == "Grupo K"]
df_resultado_grupo_L = df_resultado[df_resultado["Grupo"] == "Grupo L"]

display(df_resultado_grupo_I, df_resultado_grupo_J, df_resultado_grupo_K, df_resultado_grupo_L)

,Grupo,Nome do Time,Pontos,Vit칩rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posi칞칚o
2,Grupo I,Analove10 ITAQUI GRANDE!!,15,5,0,1,1097.63,519.21,578.42,1
3,Grupo I,Super Vasco f.c,9,3,0,3,1062.03,538.28,523.75,2
0,Grupo I,Dom Camillo68,6,2,0,4,1031.32,535.52,495.80,3
1,Grupo I,lsauer fc,6,2,0,4,1030.15,561.63,468.52,4

,Grupo,Nome do Time,Pontos,Vit칩rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posi칞칚o
6,Grupo J,Texas Club 2025,15,5,0,1,1046.83,450.96,595.87,1
5,Grupo J,pura bucha /botafogo,9,3,0,3,938.30,525.42,412.88,2
7,Grupo J,TEAM LOPES 99,6,2,0,4,1062.06,579.00,483.06,3
4,Grupo J,Tabajara de Inhaua FC2,6,2,0,4,1061.77,544.76,517.01,4

,Grupo,Nome do Time,Pontos,Vit칩rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posi칞칚o
8,Grupo K,Real SCI,15,5,0,1,1059.95,441.25,618.70,1
9,Grupo K,L치 do Itaqui,9,3,0,3,940.57,431.88,508.69,2
10,Grupo K,KING LEONN,6,2,0,4,952.11,456.83,495.28,3
11,Grupo K,Laranjja Mecannica,6,2,0,4,877.40,483.41,393.99,4

,Grupo,Nome do Time,Pontos,Vit칩rias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posi칞칚o
12,Grupo L,TORRESMO COM PINGA,18,6,0,0,1044.03,422.86,621.17,1
15,Grupo L,KillerColorado,9,3,0,3,911.67,504.55,407.12,2
14,Grupo L,Gig@ntte,6,2,0,4,960.20,466.81,493.39,3
13,Grupo L,Gremiomaniasm,3,1,0,5,952.35,484.86,467.49,4

In [ ]:
# # Criar estrutura em formato de dicion치rio para JSON/JS
# classificacao_js_fase_2 = {}

# for grupo, df in df_resultado_por_grupo.items():
#     classificacao_js_fase_2[grupo] = []
#     for _, row in df.iterrows():
#         classificacao_js_fase_2[grupo].append({
#             "posicao": int(row["Posi칞칚o"]),
#             "nome": row["Nome do Time"],
#             "pontos": int(row["Pontos"]),
#             "vitorias": int(row["Vit칩rias"]),
#             "empates": int(row["Empates"]),
#             "derrotas": int(row["Derrotas"]),
#             "totalCartola": float(row["Total Cartola"]),
#             "cartolaSofrido": float(row["Cartola Sofrido"]),
#             "saldoCartola": float(row["Saldo Cartola"])
#         })


# # Converter para JSON formatado
# json_str = json.dumps(classificacao_js_fase_2, indent=2, ensure_ascii=False)

# # Salvar como arquivo JS com uma vari치vel global
# with open("classificacao_por_grupo_fase_2.js", "w", encoding="utf-8") as f:
#     f.write("const classificacaoFase2 = ")
#     f.write(json_str)
#     f.write(";")



# Verifica se a vari치vel df_resultado_por_grupo existe e est치 populada
if 'df_resultado_por_grupo' in locals() and df_resultado_por_grupo:
    # Criar estrutura em formato de dicion치rio para JSON/JS
    classificacao_js_fase_2 = {}

    for grupo, df in df_resultado_por_grupo.items():
        classificacao_js_fase_2[grupo] = []
        for _, row in df.iterrows():
            classificacao_js_fase_2[grupo].append({
                "posicao": int(row["Posi칞칚o"]),
                "nome": row["Nome do Time"],
                "pontos": int(row["Pontos"]),
                "vitorias": int(row["Vit칩rias"]),
                "empates": int(row["Empates"]),
                "derrotas": int(row["Derrotas"]),
                "totalCartola": float(row["Total Cartola"]),
                "cartolaSofrido": float(row["Cartola Sofrido"]),
                "saldoCartola": float(row["Saldo Cartola"])
            })

    # Converter para JSON formatado
    json_str = json.dumps(classificacao_js_fase_2, indent=2, ensure_ascii=False)

    # Salvar como arquivo JS com uma vari치vel global
    with open("classificacao_por_grupo_fase_2.js", "w", encoding="utf-8") as f:
        f.write("const classificacaoFase2 = ")
        f.write(json_str)
        f.write(";")

    print("九 Arquivo JS salvo com sucesso.")

else:
    print("丘멆잺 Classifica칞칚o da fase 2 indispon칤vel. O mercado pode estar em manuten칞칚o ou os dados ainda n칚o foram gerados.")

九 Arquivo JS salvo com sucesso.

In [35]:
def exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada, grupo=None):
    """
    Exibe os resultados de uma rodada espec칤fica, com pontua칞칚o e dados dos times.
    """

    if rodada not in df_rodadas["Rodada"].values:
        return pd.DataFrame([{
            "Grupo": grupo or "-",
            "Rodada": rodada,
            "Mandante_Nome": "-",          
            "Mandante_Pontos": "-",
            "Visitante_Nome": "-",           
            "Visitante_Pontos": "-",
        }])

    df_filtrado = df_rodadas[df_rodadas["Rodada"] == rodada]
    if grupo:
        df_filtrado = df_filtrado[df_filtrado["Grupo"] == grupo]

    resultados = []

    for _, row in df_filtrado.iterrows():
        grupo_ = row["Grupo"]
        mandante = row["Mandante_Nome"]
        visitante = row["Visitante_Nome"]

        pontos_mandante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(mandante, None)
        pontos_visitante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(visitante, None)

        resultados.append({
            "Grupo": grupo_,
            "Rodada": rodada,
            "Mandante_Nome": mandante,
            "Mandante_Pontos": pontos_mandante,
            "Visitante_Nome": visitante,
            "Visitante_Pontos": pontos_visitante
        })

    return pd.DataFrame(resultados)

In [36]:
# Exibir resultados da 2춹 rodada
df_resultados_rodada_7 = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=26)

# Exibir apenas os resultados do Grupo B na 1춹 rodada
df_resultados_grupo_I = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=26, grupo="Grupo I")

# Exibir
# display(df_resultados_rodada2)
display(df_resultados_rodada_7)

  Grupo  Rodada Mandante_Nome Mandante_Pontos Visitante_Nome Visitante_Pontos
0     -      26             -               -              -                -

In [37]:
# Criar arquivo com uma aba para cada rodada contendo os resultados detalhados
from pathlib import Path

# Caminho do arquivo de sa칤da
caminho_resultados = "resultados_fase_2.xlsx"

# Descobrir as rodadas 칰nicas no DataFrame
rodadas_disponiveis = sorted(df_rodadas["Rodada"].unique())

with pd.ExcelWriter(caminho_resultados) as writer:
    for rodada in rodadas_disponiveis:
        df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
        nome_aba = f"Rodada {rodada}"
        df_resultados.to_excel(writer, sheet_name=nome_aba, index=False)

print(f"Arquivo salvo com sucesso: {Path(caminho_resultados).resolve()}")

Arquivo salvo com sucesso: C:\Users\ferna\Desktop\cartola_fbc_2_turno\libertadores\datasets_liberta\resultados_fase_2.xlsx

In [38]:
resultados_js = []

for rodada in sorted(df_rodadas["Rodada"].unique()):
    df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
    
    for _, row in df_resultados.iterrows():
        resultado = {
            "grupo": row["Grupo"],
            "rodada": int(rodada),
            "mandante": {
                "nome": row["Mandante_Nome"],
                "pontos": float(row["Mandante_Pontos"]) if row["Mandante_Pontos"] is not None else None
            },
            "visitante": {
                "nome": row["Visitante_Nome"],
                "pontos": float(row["Visitante_Pontos"]) if row["Visitante_Pontos"] is not None else None
            },
            "vencedor": (
                "mandante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] > row["Visitante_Pontos"]
                else "visitante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] < row["Visitante_Pontos"]
                else "empate" if row["Mandante_Pontos"] == row["Visitante_Pontos"] and row["Mandante_Pontos"] is not None
                else "indefinido"
            )

        }
        resultados_js.append(resultado)

# Exportar para arquivo .js
import json

with open("resultados_fase_2.js", "w", encoding="utf-8") as f:
    f.write("const resultadosFase2 = ")
    f.write(json.dumps(resultados_js, indent=2, ensure_ascii=False))
    f.write(";")